[run]
# branch = True
source =
    vstutils
    test_proj
parallel = True
concurrency =
    thread
    multiprocessing
omit =
    *.tox/*
    */management/commands/web.py
    */management/commands/_base.py
    *ihsctl
    *setup.py
    test.py
    upload_big.py
    */vstutils/__main__.py
    */vstutils/celery_beat_scheduler.py
    */vstutils/wsgi.py
    */vstutils/compile.py
    */vstutils/tasks.py
    */vstutils/api/admin.py
    */vstutils/api/doc_generator.py
    # */test_proj/*

[report]
fail_under = 100
show_missing = True
exclude_lines =
    pragma: no cover
    nocv
    noprj
    noce
