# set to local images because too long execution
image: onegreyonewhite/tox:centos6


variables:
  GET_SOURCES_ATTEMPTS: 3
  ARTIFACT_DOWNLOAD_ATTEMPTS: 3
  RESTORE_CACHE_ATTEMPTS: 3
  DJANGO_LOG_LEVEL: 'CRITICAL'
  TOX_ARGS: "--workdir /cache/.tox_vstutils_${CI_BUILD_REF_NAME}"
  CC: "ccache gcc"

stages:
  - code_standarts
  - test
  - release


.branch_tests_template: &branch_tests
  stage: test
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: "flake,pylint,py27-django-install,py35-django-install,py36-django-install"
  before_script:
    - if [ "${CI_BUILD_REF_NAME}" != "master" -a "${CI_BUILD_REF_NAME}" != "developer" ]; then export TOX_ARGS="--workdir /tmp/.tox_polemarchplus_${CI_BUILD_REF_NAME}"; fi
  script:
   - tox -e $TOX_ENVS $TOX_ARGS
  except:
    refs:
    - tags
  only:
    refs:
      - master
      - merge_requests
    changes:
      - vstutils/*.{py,pyx}
      - vstutils/api/**
      - vstutils/gui/*
      - vstutils/templatetags/*
      - test_src/**/*
      - .coveragerc
      - .pep8
      - .pylintrc
      - .gitlab-ci.yml
      - requirements*
      - setup.{cfg,py}
      - MANIFEST.in
      - tox.ini


code_style:
  <<: *branch_tests
  stage: code_standarts
  variables:
    TOX_ENVS: "flake,pylint"
  allow_failure: true

py36-django22-install:
  <<: *branch_tests
  image: onegreyonewhite/tox:ubuntu
  variables:
    TOX_ENVS: "$CI_BUILD_NAME"

py36-django22-coverage:
  <<: *branch_tests
  image: onegreyonewhite/tox:ubuntu
  variables:
    TOX_ENVS: "$CI_BUILD_NAME"


pages:
  <<: *branch_tests
  stage: release
  variables:
    TOX_ENVS: "builddoc"
  after_script:
    - mv doc/_build/html public
  artifacts:
    paths:
    - public
  only:
    refs:
      - master
    changes:
      - doc/*
      - vstutils/doc_themes/*

release:
  stage: release
  image: onegreyonewhite/tox:tox
  only:
    refs:
      - master
    variables:
      - $GIT_ACCESS_USER
      - $GIT_ACCESS_PASSWORD
  before_script:
    - url_host=`echo "${CI_REPOSITORY_URL}" | sed -e "s/https:\/\/gitlab-ci-token:.*@//g"`
    - git config user.name "${GITLAB_USER_NAME}"
    - git config user.email "${GITLAB_USER_EMAIL}"
    - git remote set-url origin "https://${GIT_ACCESS_USER}:${GIT_ACCESS_PASSWORD}@${url_host}"
  script:
    - bash autorelease.sh

.release_pypi_template: &release_pypi
  stage: release
  only:
    refs:
      - tags
    variables:
      - $PYPI_UPLOAD_PASSWORD
      - $PYPI_UPLOAD_NAME
  script:
   - tox -c tox_build.ini -e ${CI_BUILD_NAME},auditwheel
   - twine upload -u ${PYPI_UPLOAD_NAME} -p ${PYPI_UPLOAD_PASSWORD} $(find dist/*.{tar.gz,whl})
    # - twine upload -u ${PYPI_UPLOAD_NAME} -p ${PYPI_UPLOAD_PASSWORD} dist/*.tar.gz dist/*.whl
  allow_failure: true

py35-build:
  <<: *release_pypi

py35-wheel:
  <<: *release_pypi

py36-wheel:
  <<: *release_pypi

py37-wheel:
  <<: *release_pypi
