node_modules
vstutils/static/spa
vstutils_utils/target
*.pyc
*.c
*.so
__pycache__
.tox
.coverage
coverage.xml
htmlcov
build
doc/_build
*egg-info
.eggs
dist
pylint_*
.idea/*
test_screenshot.png
.coverage.*
.env
.venv
venv
*.sqlite3
*.bak
.mypy_cache
/stat.json
env
yarn-error.log
.run/
*.mo

# Visual Studio Code
.history
.vscode/*
.cache
