node_modules
vstutils/static/bundle
*.pyc
*.c
*.so
__pycache__
.tox
.coverage
coverage.xml
htmlcov
build
doc/_build
*egg-info
dist
pylint_*
.idea/*
test_screenshot.png
.coverage.*
.env
.venv
venv
*.sqlite3
*.bak
.mypy_cache
/stat.json

# Visual Studio Code
.history
.vscode/*
yarn-error.log
