include README.rst LICENSE
include vstutils/settings.ini vstutils/web.ini
include setup.cfg
include requirements.txt
include requirements-git.txt
include requirements-test.txt
include requirements-doc.txt
include requirements-rpc.txt
include requirements-coreapi.txt
include requirements-ldap.txt
include requirements-prod.txt
include requirements-stubs.txt
include vstutils/api/views.pyi
include vstutils/api/routers.pyi
include vstutils/api/responses.pyi
include vstutils/auth.pyi
include vstutils/config.pyi
include vstutils/custom_model.pyi
include vstutils/models.pyi
include vstutils/tools.pyi
recursive-include vstutils/*/templates *
recursive-include vstutils/templates *
recursive-include vstutils/static *
recursive-include include *
recursive-include vstutils/doc_themes *
