# Main packages
configparser==3.7.4
pytimeparse==1.1.8
six==1.12
pyyaml>=3.13,<=5.2
django-cors-headers==3.0.2

# REST API packages
djangorestframework==3.10.2
django-filter==2.2.0; python_version>'3.4'
django-filter==1.1.0; python_version<'3.0'
django-crispy-forms==1.7.2
# uWSGI==2.0.18
pyuwsgi==2.0.18
