# Main packages
configparserc~=1.4.2
Markdown~=3.4.4
django-environ~=0.10.0

# REST API packages
djangorestframework~=3.14.0
drf-yasg==1.21.7
django-filter==23.2
drf_orjson_renderer~=1.7.1
ormsgpack==1.2.6
pyyaml~=6.0.1

# web server
uvicorn~=0.23.2
pyuwsgi==2.0.21
fastapi~=0.101.0
aiofiles==23.2.1

# Notifications
cent~=4.1.0
PyJWT~=2.8.0

# Minificators
jsmin~=3.0.1
django-htmlmin~=0.11.0

# 2fa
pyotp~=2.9.0

# Storage
django-storages[libcloud]==1.13.2
