# Packages needed for delayed jobs.
celery[redis]~=5.1.2;python_version<="3.6"
celery[redis]==5.2.3;python_version>"3.6"
django-celery-beat~=2.2.1;python_version<="3.6"
django-celery-beat~=2.4.0;python_version>"3.6"
django-timezone-field~=4.1.1;python_version<="3.6"
