# Packages needed for compile documentation.
sphinx~=5.3.0
sphinx-autobuild~=2021.3.14
sphinxcontrib-httpdomain~=1.8.1
sphinxcontrib-websupport~=1.2.4
sphinxcontrib-mermaid~=0.7.1
sphinx-autodoc-typehints~=1.23.0
sphinx-rtd-theme~=1.2.2
