django-stubs[compatible-mypy]~=4.2.6
djangorestframework-stubs[compatible-mypy]~=3.14.4
celery-stubs~=0.1.3
drf-yasg-stubs~=0.1.3
django-filter-stubs~=0.1.3
types-PyMySQL==1.1.0.1
types-Markdown==3.5.0.0
types-docutils==0.20.0.3
types-aiofiles~=23.2.0.0
