# Packages needed for delayed jobs.
celery[redis,sqlalchemy]==5.0.5
# hotfix for newest django-timezone-field. Details:
# https://github.com/pydanny/cookiecutter-django/issues/2950
django-celery-beat==2.1.0
django-timezone-field==4.0
