# Main packages
configparser~=5.3.0
configparserc~=1.4.1
Markdown~=3.4.3
django-environ~=0.10.0

# REST API packages
djangorestframework~=3.14.0
drf-yasg==1.21.6
django-filter==23.2
django-crispy-forms~=1.14.0
drf_orjson_renderer~=1.7.1
ormsgpack==1.2.6
pyyaml~=5.4.1

# web server
uvicorn~=0.22.0
pyuwsgi==2.0.21
fastapi~=0.98.0
aiofiles~=23.1.0

# Notifications
cent~=4.1.0
PyJWT~=2.7.0

# Minificators
jsmin~=3.0.1
django-htmlmin~=0.11.0

# 2fa
pyotp~=2.8.0

# Storage
django-storages[libcloud]==1.13.2
