include README.rst LICENSE
include pyproject.toml
include requirements.txt
recursive-include {{project_name}}/*/templates *
recursive-include {{project_name}}/templates *
recursive-include {{project_name}}/static *
