.ansible_var {
    color: #f77;
}

.pull-right {
    float: right;
}

.paramTable td {
    padding-bottom: 10px;
    padding-right: 20px;
    min-width: 160px;
    vertical-align: top;
}

.paramTable input {
    width: 236px;
}

.navbar-toggle .icon-bar {
    background: #fff;
}

/* CSS for platforms */
.for-ios {
    display: none !important;
}

.platform-ios .for-ios {
    display: block !important;
}

.for-android {
    display: none !important;
}

.platform-android .for-android {
    display: block !important;
}

.for-web {
    display: block !important;
}

.for-cordova {
    display: none !important;
}

.platform-cordova .for-web {
    display: none !important;
}

.platform-cordova .for-cordova {
    display: block !important;
}

.borderless td,
.borderless th {
    border: none;
    border-top: none !important;
}

.multiple-select .selected .ico-on {
    display: block;
}

.multiple-select .selected .ico-off {
    display: none;
}

.multiple-select .ico-on {
    display: none;
    font-size: 24px;
    color: #128200;
}

.multiple-select .ico-off {
    display: block;
    font-size: 24px;
    color: #c6c6c6;
}

.boolean-select {
    padding: 0.157rem 0.75rem;
    cursor: pointer;
}

.boolean-select.selected .ico-on {
    display: inline-block;
}

.boolean-select.selected .ico-off {
    display: none;
}

.boolean-select .ico-on {
    display: none;
    font-size: 24px;
    color: #128200;
    padding-top: 3px;
}

.boolean-select .ico-off {
    display: inline-block;
    font-size: 24px;
    color: #929292;
    padding-top: 3px;
}

.no-left-border {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
}

table {
    table-layout: fixed;
}

.popover-title {
    color: #000;
}

.popover-content {
    color: #000;
}

.popover-content i {
    color: #ccc;
}

.danger-right {
    float: right;
}

/* https://github.com/Pixabay/JavaScript-autoComplete/blob/master/auto-complete.css */
.autocomplete-suggestions {
    text-align: left;
    cursor: default;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.1);

    /* core styles should not be changed */
    position: absolute;
    display: none;
    z-index: 9999;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}
.autocomplete-suggestion {
    position: relative;
    padding: 0 0.6em;
    line-height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.02em;
    color: #333;
}
.autocomplete-suggestion b {
    font-weight: normal;
    color: #1f8dd6;
}
.autocomplete-suggestion.selected {
    background: #f0f0f0;
}

.crontabEditor .selected.btn {
    background-color: #3c8dbc;
    color: #fff;
}

.crontabEditor .btn {
    /*background-color: #eee;*/
    min-width: 42px;
}

.crontab_li_a {
    display: block;
    width: 100%;
}

.crontab_li_a:hover {
    background-color: #efefef;
}

.textfile {
    position: relative;
}

.textfile .input-file {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
}

/*.history-status{*/
/*font-weight: bold;*/
/*vertical-align: middle;*/
/*}*/

/*.history-status-OFFLINE{*/
/*color: #9e9e9e;*/
/*}*/

/*.history-status-INTERRUPTED{*/
/*color: #9b97e4;*/
/*}*/

/*.history-status-RUN{*/
/*color: #0085ff;*/
/*}*/

/*.history-status-ERROR{*/

/*}*/

/*.history-status-DELAY{*/
/*color: #808419;*/
/*}*/

/*.history-status-OK{*/
/*color: #276900;*/
/*}*/

/*.project-status{*/
/*font-weight: bold;*/
/*text-align: center;*/
/*vertical-align: middle;*/
/*}*/

/*.project-status-SYNC{*/
/*color: #f40;*/
/*}*/

/*.project-status-WAIT_SYNC{*/
/*color: #0085ff;*/
/*}*/

/*.project-status-OK{*/
/*color: #276900;*/
/*}*/

/*.stdout-line .S{color:red}!* Строки красные *!*/
/*.stdout-line .func{color:blue}!* Юзер-функции синие *!*/
/*.stdout-line .C{color:orange}!* Комменты оранжевые *!*/
/*.stdout-line .kwrd{font-weight:bold}!* Ключевые слова полужирные *!*/
/*.stdout-line .R{color:gray} !*Серые регвыражения *!*/
/*.stdout-line.fatal{*/
/*background: #ffe7e7;*/
/*}*/

@media (min-width: 992px) {
    .h1-header {
        /*display: inline-table;*/
        max-width: calc(100% - 440px);
    }
}

.error-note {
    color: #ff5252;
}

.item-name {
    word-wrap: break-word;
}

.input-file-holder {
}

.btn-right {
    float: right;
    margin-left: 5px;
}

.resize-options {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
}

/*.history-mode.history-fullsize .history-LeftInfo{*/
/*width: 100%;*/
/*}*/

.top-line-btn {
    margin-bottom: 5px;
}

.cursor-move:hover {
    cursor: move;
}

.handle-class:hover {
    cursor: move;
}

.w-btn {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}

.w-btn:focus {
    color: #97a0b3;
}

.w-btn:focus ~ .period-list {
    display: none;
}

.w-btn:hover {
    color: #606c84;
}

.clear-input-and-paste {
    float: left;
    height: 34px;
    line-height: 1.42857143;
    padding: 6px 12px;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 10;
    right: 0px;
    color: #555;
    text-align: center;
}

.clear-input-and-paste:hover {
    color: #fff;
    background-color: #d9534f;
}

.bg-logo {
    display: block;
    width: 160px;
}

.bg-logo-min {
    background-image: url(/static/img/logo/logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: 40px 40px;
    -o-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    background-size: 40px 40px;
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    margin: 0px;
    margin-top: 5px;
    margin-left: -10px;
}

.logo-span {
    width: 190px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 767px) {
    .bg-logo {
        background-image: url(/static/img/logo/horizontal-bw.png);
    }
    .bg-logo-min {
        background-image: url(/static/img/logo/logo-bw.png);
    }
}

.user-status,
.group-children,
.all-only,
.new_subitem {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #276900;
}

.matches {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #c1801a;
}

/*styles for sidebar */
.skin-black-light .sidebar-menu > li:hover > a,
.skin-black-light .sidebar-menu > li.active > a {
    color: #000;
    background: #eeeeee;
}

.skin-black-light .sidebar-menu > li > a {
    border-left: 5px solid transparent;
}

.sidebar-menu > li.active-li > a {
    border-left: 5px solid #00c0ef;
}

.menu-treeview {
    position: relative;
}

.menu-treeview > .menu-treeview-menu {
    display: none;
}

.menu-treeview.hover-li .menu-treeview-menu {
    display: block;
    position: absolute;
    left: 212px;
    top: -30px;
    list-style: none;
    padding: 0;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin: 0;
    list-style: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2000;
}

.menu-treeview.hover-li .menu-treeview-menu > li:last-child,
.menu-treeview.hover-li .menu-treeview-menu > li:last-child > a {
    border-bottom-right-radius: 4px;
}

.menu-treeview.hover-li .menu-treeview-menu > li,
.menu-treeview-active.hover-li .menu-treeview-menu > li {
    display: block;
}

.menu-treeview.hover-li .menu-treeview-menu > li,
.sidebar-mini.sidebar-collapse .sidebar-menu > .menu-treeview-active.hover-li .menu-treeview-menu > li {
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.1);
}

.menu-treeview.hover-li .menu-treeview-menu > li > a {
    padding: 12px 5px 12px 15px;
    background-color: #fcfcfc;
    width: 150px;
    display: block;
}

.sidebar-menu > li.menu-treeview > .menu-treeview-menu > li > a:hover {
    background: #eeeeee;
}

.active-bold > a {
    font-weight: bold;
    background-color: #e0e0e0 !important;
}

.sidebar-menu > li.menu-treeview-active > .menu-treeview-menu > li > a:hover,
.menu-treeview-active > a:hover,
.sidebar-mini.sidebar-collapse .sidebar-menu > li.menu-treeview-active > a,
.sidebar-mini.sidebar-collapse .sidebar-menu > li.active-li > a {
    background-color: #e0e0e0 !important;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li.hover-li .menu-treeview-menu > .active-bold > a {
    background-color: #fcfcfc !important;
}

.sidebar-menu > li.menu-treeview-active > a,
.sidebar-menu > li.menu-treeview-active > .menu-treeview-menu {
    border-left: 5px solid #00c0ef;
}

.sidebar-menu > li.menu-treeview-active > .menu-treeview-menu > li > a {
    background-color: #eeeeee;
}

.menu-treeview-active > .menu-treeview-menu {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-treeview-active > .menu-treeview-menu > li > a {
    padding: 12px 5px 12px 38px;
    display: block;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > .menu-treeview-active .menu-treeview-menu {
    display: none;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > .menu-treeview.hover-li .menu-treeview-menu,
.sidebar-mini.sidebar-collapse .sidebar-menu > .menu-treeview-active.hover-li .menu-treeview-menu {
    display: block;
    position: absolute;
    left: 42px;
    top: 43px;
    list-style: none;
    padding: 0;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 30px;
    margin: 0;
    width: 220px;
    border-left: none;
    z-index: 2000;
    border-bottom-right-radius: 4px;
}

.sidebar-collapse .menu-treeview-withouturl .menu-treeview-menu {
    top: 0px !important;
}

.sidebar-mini.sidebar-collapse
    .sidebar-menu
    > .menu-treeview-active.hover-li
    .menu-treeview-withouturl
    .li-header-span {
    display: none !important;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > .menu-treeview.hover-li:first-child,
.sidebar-mini.sidebar-collapse .sidebar-menu > .menu-treeview-active.hover-li:first-child {
    top: 0px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > .menu-treeview.hover-li .menu-treeview-menu > li:last-child,
.sidebar-mini.sidebar-collapse
    .sidebar-menu
    > .menu-treeview.hover-li
    .menu-treeview-menu
    > li:last-child
    > a,
.sidebar-mini.sidebar-collapse
    .sidebar-menu
    > .menu-treeview-active.hover-li
    .menu-treeview-menu
    > li:last-child,
.sidebar-mini.sidebar-collapse
    .sidebar-menu
    > .menu-treeview-active.hover-li
    .menu-treeview-menu
    > li:last-child
    > a {
    border-bottom-right-radius: 4px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > .menu-treeview.hover-li .menu-treeview-menu > li > a,
.sidebar-mini.sidebar-collapse .sidebar-menu > .menu-treeview-active.hover-li .menu-treeview-menu > li > a {
    padding: 12px 5px 12px 20px;
    display: block;
    background-color: #fcfcfc;
    width: 180px;
}

.sidebar-mini.sidebar-collapse
    .sidebar-menu
    > .menu-treeview.hover-li
    .menu-treeview-menu
    > li:nth-child(2)
    > a,
.sidebar-mini.sidebar-collapse
    .sidebar-menu
    > .menu-treeview-active.hover-li
    .menu-treeview-menu
    > li:nth-child(2)
    > a {
    border-top: 1px solid #d2d6de;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right) {
    display: none !important;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li.hover-li > a > span:not(.pull-right) {
    display: block !important;
    position: absolute;
    width: 220px;
    left: 40px;
    top: -30px;
    margin-left: -3px;
    padding-left: 10px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: transparent !important;
}

.li-header-span-i {
    font-style: normal;
}

.li-header-span-i-none {
    font-style: normal;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li.hover-li .li-header-span-i {
    padding: 12px 5px 12px 20px;
    display: block;
    background-color: #fcfcfc;
    width: 180px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li.hover-li .li-header-span-i-none {
    display: none !important;
}

.sidebar-mini.sidebar-collapse
    .sidebar-menu
    > .menu-treeview-active.hover-li
    a
    > .li-header-span
    > .li-header-span-i,
.sidebar-mini.sidebar-collapse
    .sidebar-menu
    > .menu-treeview.hover-li
    a
    > .li-header-span
    > .li-header-span-i {
    border-bottom-right-radius: 0px !important;
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.1);
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > .li-header-span > .li-header-span-i:hover,
.sidebar-mini.sidebar-collapse
    .sidebar-menu
    > .menu-treeview-active.hover-li
    .menu-treeview-menu
    > li
    > .li-header-span
    > .li-header-span-i:hover,
.sidebar-mini.sidebar-collapse
    .sidebar-menu
    > .menu-treeview-active.hover-li
    .menu-treeview-menu
    > li
    > a:hover,
.sidebar-mini.sidebar-collapse .sidebar-menu > .menu-treeview.hover-li .menu-treeview-menu > li > a:hover {
    background-color: #eeeeee !important;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > .li-header-span > .li-header-span-i,
.sidebar-mini.sidebar-collapse
    .sidebar-menu
    > .menu-treeview-active.hover-li
    .menu-treeview-menu
    > li
    > .li-header-span
    > .li-header-span-i {
    background-color: #fcfcfc !important;
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 4px;
}

.sidebar-mini.sidebar-collapse
    .sidebar-menu
    > li:not(.menu-treeview)
    > a
    > .li-header-span
    > .li-header-span-i,
.sidebar-mini.sidebar-collapse
    .sidebar-menu
    > li:not(.menu-treeview-active)
    > a
    > .li-header-span
    > .li-header-span-i {
    border-bottom-right-radius: 4px;
}

.sidebar-menu > li > ul > li {
    background-color: #fcfcfc;
}

.skin-black-light .menu-treeview-menu > li > a {
    color: #333;
}

.sidebar-menu > .menu-treeview-active > .menu-treeview-menu > .group-header-copy,
.sidebar-mini.sidebar-collapse .sidebar-menu > .menu-treeview > .menu-treeview-menu > .group-header-copy,
.sidebar-mini.sidebar-collapse
    .sidebar-menu
    > .menu-treeview-active
    > .menu-treeview-menu
    > .group-header-copy,
.sidebar-mini.sidebar-open .sidebar-menu .open-menu-treeview-menu .menu-treeview-menu > .group-header-copy {
    display: none;
}

.group-header-copy {
    font-weight: bold;
    border-bottom: 1px solid #d2d6de;
    border-top-right-radius: 4px;
}

.group-header-copy a {
    border-top-right-radius: 4px;
}

.nav-sidebar .nav-link .right {
    padding: 3px 8px;
    z-index: 1500;
}

/* styles for sidebar on small screens*/

.open-menu-treeview-button {
    display: none;
}

.sidebar-mini.sidebar-open .sidebar-menu .open-menu-treeview-button {
    display: block;
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 18px;
    padding: 3px 12px;
    border-radius: 2em;
    color: #000;
}

.sidebar-mini.sidebar-open .sidebar-menu .menu-treeview.hover-li .menu-treeview-menu {
    display: none;
}

.sidebar-mini.sidebar-open .sidebar-menu .open-menu-treeview-menu .menu-treeview-menu {
    display: block !important;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-mini.sidebar-open .sidebar-menu .open-menu-treeview-menu a {
    background-color: #eeeeee;
}

.sidebar-mini.sidebar-open .sidebar-menu .open-menu-treeview-menu .menu-treeview-menu > li > a {
    padding: 12px 5px 12px 38px;
    display: block;
    background-color: #eeeeee;
}

.sidebar-mini.sidebar-open
    .sidebar-menu
    .open-menu-treeview-menu:not(.menu-treeview-active)
    .menu-treeview-menu
    > li
    > a {
    padding-left: 43px;
}

.sidebar-mini.sidebar-open .sidebar-menu > li.menu-treeview-active > .menu-treeview-menu {
    display: none;
}

.sidebar-mini.sidebar-open .sidebar-menu > li.active-li:not(.open-menu-treeview-menu) > a {
    background-color: #e0e0e0 !important;
}
/* end of styles for sidebar on small screens*/
/* end of styles for sidebar */

.imported-subitems-table th,
.imported-subitems-table td {
    word-wrap: break-word;
}

.imported-subitems-table ul {
    margin-left: 0px;
    padding-left: 0px;
}

.imported-subitems-table ul li {
    list-style: none;
}

.recipients_list ul {
    margin-left: 15px;
    padding-left: 0px;
}

.start-time-td {
    width: 160px;
}

.readme_content {
    word-wrap: break-word;
}

.readme_content h1 {
    font-size: 24px;
}

.readme_content h2 {
    font-size: 20px;
}

.readme_content h3 {
    font-size: 18px;
}

@media (min-width: 1200px) {
    .readme_content img {
        max-width: 60%;
        width: auto;
    }
}

@media (max-width: 1200px) {
    .hidden-1200 {
        display: none;
    }
}

@media (max-width: 1100px) {
    .hidden-1100 {
        display: none;
    }
}

@media (max-width: 1050px) {
    .hidden-1050 {
        display: none;
    }
}

@media (max-width: 1000px) {
    .hidden-1000 {
        display: none;
    }
}

@media (max-width: 850px) {
    .start-time-td {
        width: 100px;
    }
}

@media (max-width: 480px) {
    .hidden-480 {
        display: none;
    }
}

@media (max-width: 360px) {
    .hidden-360 {
        display: none;
    }

    .input-group > .form-control.rounded-360:not(:first-child),
    .input-group > .form-control.rounded-360:not(:last-child) {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }
}

@media (max-width: 767px) {
    .app-logo {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .sidebar-menu ul.menu-treeview-menu {
        /*position: relative;
        display: block;*/
        color: #f00;
    }

    .sidebar-menu .menu-treeview.hover-li .menu-treeview-menu {
        display: block !important;
        margin: 0;
        z-index: 2000;
        padding: 0;
        position: initial;
    }
    .sidebar-menu .menu-treeview.hover-li .menu-treeview-menu .group-header-copy {
        display: none;
    }

    .sidebar-mini.sidebar-open .sidebar-menu > li.menu-treeview-active > .menu-treeview-menu {
        display: block;
    }

    .sidebar-menu .menu-treeview-menu > li > a {
        background-color: transparent;
    }

    .sidebar-menu > li.menu-treeview-active > a,
    .sidebar-menu > li.menu-treeview-active > .menu-treeview-menu {
        border-left: 5px solid #00c0ef;
    }

    .menu-treeview.hover-li .menu-treeview-menu > li > a {
        padding-left: 45px;
    }
}

.menu-treeview.hover-li .open-menu-treeview-button i,
.menu-treeview-active .open-menu-treeview-button i {
    transform: rotate(4.7rad);
}

.h1-header {
    text-transform: capitalize;
}

.sublink-btn {
    text-transform: capitalize;
}

/*.gui-element-html .html_content {*/
.guiField .html_content,
guifield .html_content {
    /*border: 1px solid #d2d6de;*/
    /*padding: 10px;*/
    min-height: 34px;
    /*background-color: #ffffffa1;*/
}

.guiField .html_content_border,
.guifield .html_content_border {
    border: 1px solid #d2d6de;
    padding: 10px;
}

.hidden-field {
    display: none;
}

.image-field-content-wrapper {
    height: 150px;
    margin-bottom: 10px;
}

img.image-field-content {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image-field-content-wrapper > img.image-field-content:hover {
    cursor: pointer;
}

.p-as-input {
    overflow: hidden;
    word-break: break-all;
    padding: 7px 12px;
}

.break-word {
    word-break: break-all;
    word-break: break-word;
}

.cursor-pointer {
}

.cursor-pointer:hover {
    cursor: pointer;
}

.multiple-files-list {
    padding-left: 30px;
}

.multiple-files-list li div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 13px;
}

.guifield-multiplenamedbinimage .image-field-content-wrapper {
    height: 30px;
}

/* Styles for html field */

.html_content .document {
    margin-top: -20px;
    padding: 10px;
}

.html_content img {
    max-width: 60%;
    vertical-align: baseline;
}

.html_content .document .section {
}

.html_content h1,
.html_content h2,
.html_content h3,
.html_content h4,
.html_content h5,
.html_content h6 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef;
    font-weight: bold;
}

.html_content h1 {
    font-size: 1.75em;
}

.html_content h2 {
    font-size: 1.5em;
}

.html_content h3 {
    font-size: 1.25em;
}

.html_content h4 {
    font-size: 1em;
}

.html_content h5 {
    font-size: 0.75em;
}

.html_content h6 {
    font-size: 0.5em;
}

.html_content code {
    padding: 5px;
    overflow: auto;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
    color: #032f62;
}

.html_content tt {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
}

.html_content dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
    display: block;
}

.html_content dd {
    padding: 0 16px;
    margin-bottom: 16px;
    margin-left: 0;
    display: block;
    margin-inline-start: 30px;
    box-sizing: border-box;
}

.html_content table {
    overflow: auto;
    margin-top: 0;
    margin-bottom: 16px;
    border-spacing: 2px;
}

.html_content table.field-list,
.html_content table.option-list {
    display: block;
    width: 100%;
}

.html_content table th,
.html_content table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
    display: table-cell;
    vertical-align: inherit;
}

.html_content table th {
    font-weight: 600;
}

.html_content table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.html_content kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #000000;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
}

.html_content blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
    color: #6a737d;
}

.html_content table.footnote,
.html_content table.citation {
    border: 1px solid #dfe2e5;
}

.html_content table.footnote th.label,
.html_content table.footnote td.label,
.html_content table.citation th.label,
.html_content table.citation td.label {
    display: table-cell;
    padding: 0.2em 0.6em 0.3em;
    font-size: 90%;
    font-weight: 600;
    line-height: inherit;
    color: #333;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

@media (max-width: 1220px) {
    .html_content img {
        max-width: 70%;
    }
}

@media (max-width: 920px) {
    .html_content img {
        max-width: 100%;
    }
}

/* End of styles for htmlfield */

.with_bottom_border {
    border-bottom: solid 1px #ecf0f5;
    padding-bottom: 5px;
    /*border-bottom-color: #959da5;*/
}

.iziModal-header-title {
    font-size: 1.75em !important;
}

.iziModal-header-subtitle {
    font-size: 1em !important;
}

.col12-mode .col-lg-4 {
    width: 100%;
}
.col12-mode .col-sm-6 {
    width: 100%;
}
.col12-mode .col-md-6 {
    width: 100%;
}

.sublink-btn-empty-action {
    padding: 5px 0px;
    display: block;
    font-weight: bolder;
}

.guiListElements-boolean,
td .boolean-true,
td .boolean-false {
    font-size: 24px;
}

.db_value_input {
    background-color: #eee !important;
    border-left: 1px solid #d2d6de !important;
}

.td {
    word-wrap: break-word;
}

.table_ul {
    margin-left: 20px;
    padding-left: 0px;
}

.hidden-false {
}

.hidden-true,
.open > .dropdown-menu .hidden-true {
    display: none;
}

@media (max-width: 480px) {
    .dropdown-menu li a {
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

.main-sidebar {
    overflow: hidden;
}

.iziToast,
.iziModal {
    font-family: inherit;
}

.content-wrapper,
.right-side {
    z-index: 800;
    min-height: calc(100vh - 112px);
}

@media not print {
    .content-wrapper,
    .right-side {
        background-color: #ecf0f5;
    }
}


.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    /*background-color: #f7f7f9;*/
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.fields-block {
    display: contents;
}

a.multiaction-button {
    width: 100%;
    display: block;
}

.btn-icon {
    width: 30px;
    height: 30px;
    padding: 0px;
    text-align: center;
}

.gui-element-color .guiElement-clear-addon {
    display: none;
}

.gui-skin-light {
}

body {
    --menu-active-bg-color: #007bff;
    --menu-active-color: #ffffff;
    --content-wrapper: #ecf0f5;

    --main-header-bg-color: #fff;
    --main-border-color: #dee2e6;

    --left-sidebar-bg-color: #343a40;
    --left-sidebar-border-color: #4b545c;
    --customizer-options-bg-color: #828282;
    --breadcrumb-bg-color: #8e8e90;

    --btn-default-bg-color: #f4f4f4;
    --btn-default-color: #444;
    --btn-default-border-color: #ddd;

    --btn-primary-bg-color: #007bff;
    --btn-primary-color: #fff;
    --btn-primary-border-color: #007bff;

    --btn-danger-bg-color: #dc3545;
    --btn-danger-color: #ffffff;
    --btn-danger-border-color: #dc3545;

    --btn-warning-bg-color: #ffc107;
    --btn-warning-color: #1f2d3d;
    --btn-warning-border-color: #ffc107;

    --btn-selected-bg-color: #ffa600;
    --btn-selected-hover-bg-color: #c48200;
    --btn-selected-color: #444;
    --btn-selected-border-color: var(--btn-selected-hover-bg-color);

    --a-color: #007bff;
    --a-color-hover: #0056b3;
    --text-color: #1b2026;
    --ico-default-color: #141a21;
    --background-default-color: #fff;

    --card-header-bg-color: #17a2b8;
    --card-body-bg-color: #00000000;
    --card-footer-bg-color: #f7f7f7;
    --card-color: #fff;

    --control-label-color: #212529;
    --help-block-color: #a3a3a3;
    --help-text-color: #a3a3a3;

    --highlight-tr-hover-color: #d8edf8;
    --table-border-color: #dfe3e7;
    --selected-color: rgba(170,252,137,0.4);
    --background-passiv-color: #3d434a;
    --text-hover-color: #16181b;

    --boolean-true-color: #128200;
    --boolean-false-color: #949494;

    --modal-bg-color: #ffffff;

    --api-sections-bg-color: #f7f7f9;
    --api-sections-border-color: #e1e1e8;
    --prettify-com-color: #93a1a1;
    --prettify-lit-color: #195f91;
    --prettify-fun-color: #dc322f;
    --prettify-str-color: #de1043;
    --prettify-kwd-color: #1e347b;
    --prettify-var-color: #008080;
    --prettify-pln-color: #48484c;
}

.gui-skin-dark {
    --menu-active-bg-color: #005a67;
    --menu-active-color: #ffffff;
    --content-wrapper: #515151;

    --main-header-bg-color: #828282;
    --main-border-color: #1f2d3d;

    --left-sidebar-bg-color: #343a40;
    --left-sidebar-border-color: #4b545c;
    --customizer-options-bg-color: #343a40;
    --breadcrumb-bg-color: #d2d6de;

    --btn-default-bg-color: #7e7e7e;
    --btn-default-color: #e3e3e3;
    --btn-default-border-color: #5f5f5f;

    --btn-primary-bg-color: #7e7e7e;
    --btn-primary-color: #e3e3e3;
    --btn-primary-border-color: #5f5f5f;

    --a-color: #e2e2e2;
    --a-color-hover: #ffffff;

    --a-color-revers: #006ae0;
    --a-color-hover-revers: #00448f;

    --text-color: #bebebe;
    --ico-default-color: #bebebe;
    --background-default-color: #838383;

    --card-header-bg-color: #17a2b8;
    --card-body-bg-color: #6c6c6c;
    --card-footer-bg-color: #6c6c6c;
    --card-color: #fff;

    --control-label-color: #d9d9d9;
    --help-block-color: #a3a3a3;
    --help-text-color: #a3a3a3;

    --highlight-tr-hover-color: #474747;
    --table-border-color: #979797;
    --selected-color: #0a2a00;
    --text-hover-color: #ffffff;

    --boolean-true-color: #21d703;
    --boolean-false-color: #949494;

    --modal-bg-color: #515151;

    --api-sections-bg-color: #6c6c6c;
    --api-sections-border-color: #8d8d8d;
    --prettify-com-color: #93a1a1;
    --prettify-lit-color: #0ddbde;
    --prettify-fun-color: #faed5c;
    --prettify-str-color: #e8ec09;
    --prettify-kwd-color: #3dc2f5;
    --prettify-var-color: #12f39c;
    --prettify-pln-color: #c2c2c7;
}

.nav-tabs {
    border-bottom: 0px solid #dee2e6;
}

.guiListElements-boolean .boolean-true,
td .boolean-true {
    color: var(--boolean-true-color);
}

.guiListElements-boolean .boolean-false,
td .boolean-false {
    color: var(--boolean-false-color);
}

.alert-info,
.bg-info,
.label-info {
    background-color: var(--card-header-bg-color) !important;
}

.alert-info,
.alert-info a,
.bg-info,
.bg-info a,
.label-info,
.label-info a {
    color: var(--card-color) !important;
}
.card-info:not(.card-outline) .card-header,
.card-info:not(.card-outline) .card-header a {
    color: var(--card-color) !important;
}

.multiple-select .selected {
    background-color: var(--selected-color);
}

.gui-skin-dark .table-bordered td,
.table-bordered th {
    border: 1px solid var(--table-border-color);
}

/*.text-data,*/
/*td,*/
/*.dropdown-item a.sublink-btn,*/
/*.iziModal-content,*/
/*.modal-content,*/
/*.request-info prettyprint span.nocode,*/
/*.response-info .prettyprint span.nocode,*/
/*.swagger-ui .topbar-wrapper a span,*/
/*.swagger-ui .scheme-container .schemes > label,*/
/*.swagger-ui .expand-operation span.arrow,*/
/*.swagger-ui .opblock .opblock-summary-operation-id,*/
/*.swagger-ui .opblock-description-wrapper,*/
/*.swagger-ui .responses-table,*/
/*.swagger-ui .info .base-url,*/
/*.swagger-ui section.models h4 {*/
/*    color: var(--text-color);*/
/*}*/

.help-text-data {
    color: var(--help-text-color);
}

.background-default {
    background-color: var(--background-default-color);
    border-color: var(--background-default-color);
}

.well,
.request-info .prettyprint,
.response-info .prettyprint,
.swagger-ui .opblock,
.swagger-ui section.models {
    background-color: var(--api-sections-bg-color) !important;
}

.well,
.request-info .prettyprint,
.response-info .prettyprint,
.swagger-ui .opblock,
.swagger-ui section.models {
    border-color: var(--api-sections-border-color) !important;
}

pre {
    font-size: 87.5%;
}

.sidebar-dark-primary .nav-treeview > .nav-item > .nav-link {
    background-color: var(--background-passiv-color);
}

.dropdown-menu {
    background-color: var(--background-default-color);
}

.dropdown-divider {
    border-top: 1px solid #e9ecef8c;
}

.ico-data-default {
    color: var(--ico-default-color);
}

.main-sidebar {
    background-color: var(--left-sidebar-bg-color) !important;
}

@media not print {
    .content-wrapper,
    .swagger-ui {
        background-color: var(--content-wrapper);
    }
}

.iziModal-content,
.modal-content,
.iziModal {
    background-color: var(--modal-bg-color);
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: var(--menu-active-bg-color);
    color: var(--menu-active-color) !important;
}

.main-sidebar a.nav-link {
    color: var(--menu-active-color) !important;
}

.card-info:not(.card-outline) .card-header {
    background-color: var(--card-header-bg-color);
}

.btn-default {
    background-color: var(--btn-default-bg-color);
    color: var(--btn-default-color);
    border-color: var(--btn-default-border-color);
}

.btn-primary {
    background-color: var(--btn-primary-bg-color);
    color: var(--btn-primary-color);
    border-color: var(--btn-primary-border-color);
}

.btn-danger {
    background-color: var(--btn-danger-bg-color);
    color: var(--btn-danger-color);
    border-color: var(--btn-danger-border-color);
}

.btn-warning {
    background-color: var(--btn-warning-bg-color);
    color: var(--btn-warning-color);
    border-color: var(--btn-warning-border-color);
}

a.revers-color {
    color: var(--a-color-revers);
}

a.revers-color:hover {
    color: var(--a-color-hover-revers) !important;
}

.card-body {
    background-color: var(--card-body-bg-color);
}

.control-label {
    color: var(--control-label-color);
}

.help-block {
    color: var(--help-block-color);
}

.main-header.border-bottom {
    border-bottom: 1px solid var(--main-border-color) !important;
}

/* start of code highlighting in API */
.com,
.pun,
.opn,
.clo {
    color: var(--prettify-com-color);
}

.lit,
.swagger-ui .prop-type {
    color: var(--prettify-lit-color);
}

.fun {
    color: var(--prettify-fun-color);
}

.str,
.atv {
    color: var(--prettify-str-color);
}

.kwd,
.prettyprint .tag {
    color: var(--prettify-kwd-color);
}

.typ,
.atn,
.dec,
.var {
    color: var(--prettify-var-color);
}

.pln {
    color: var(--prettify-pln-color);
}
/* end of code highlighting in API */

input[type='color'] {
    height: 30px;
}

.sidebar-dark-primary .sidebar a.text-data {
    color: #c2c7d0;
}

.control-sidebar,
.control-sidebar:before {
    width: 300px;
    right: -300px;
}

.gui-element .readonly .boolean-select {
    background-color: #eaedf0;
}

.dropdown-menu {
    padding: 0 0;
}

.btn {
    font-size: 14px;
}

.gravatar-img-list {
    width: 30px;
    height: 30px;
    margin-top: 0px;
    margin-right: 5px;
}

@media (max-width: 480px) {
    .td-user-is_active,
    .gravatar-img-list {
        display: none;
    }
}

.power-on {
    color: #00c0ef;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed !important;
}

.hidden-section {
    display: none;
}

@media (max-width: 991px) {
    .pagination-for-modal {
        margin-right: -12px !important;
        margin-top: 10px !important;
    }
}

/**
 * NEW
 */

.content-wrapper-2 > .content {
    padding: 0 0.5rem;
}

.select2-dropdown {
    z-index: 1160;
}

.gui-btn {
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.input-group input {
    height: 38px;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s ease;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-long-enter-active,
.fade-long-leave-active {
    transition: opacity 0.8s ease;
}

.fade-long-enter,
.fade-long-leave-to {
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all 0.3s ease;
}
.slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

.list-footer-btns-wrapper {
    display: inline-block;
    width: 100%;
    padding-bottom: 15px;
}

.card-body-custom,
.card-footer-custom {
    padding: 10px 0;
}

.card-body-list {
    padding: 0;
}

.table-bordered-custom {
    margin: 0;
    padding: 0;
    border: none;
    max-width: none;
    margin-bottom: 15px;
}

.card-header-custom {
    height: 40px;
    line-height: 30px;
    padding: 5px 0.5rem;
}

.empty-list-p,
.error-p {
    padding: 15px;
}

.card-header_widget {
    height: auto;
}

/* select2-hide-dropdown - helper class to completely hide dropdown */
.select2-hide-dropdown {
    display: none;
}
.select2-hide-dropdown + .select2-container.select2-container--open .select2-selection {
    border-radius: 0.25rem;
    border-bottom-color: #80bdff;
}
