.highlight {
    background: #efefef;
}

.rst-content code.literal, .rst-content tt.literal {
    color: #1d1a90;
}

@media screen and (min-device-width: 1200px) {
    .wy-nav-content {
        max-width: 1100px;
    }
}
