@import url(AdminLTE-3.0.0/plugins/bootstrap/css/bootstrap.min.css);
@import url(AdminLTE-3.0.0/min/css/adminlte.min.css);
@import url(AdminLTE-3.0.0/plugins/font-awesome/css/font-awesome.min.css);


.sidebar-menu ul {
    list-style: none;
    margin: 0;
    padding:0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.sidebar-menu ul li {
    margin: 0;
    padding: 0;
}

.sidebar-menu ul li  a
{
    font-weight: 600;
    display:block;
    padding: 12px 5px 12px 15px;
}

.sidebar-menu .caption {
    display: none!important;
}

.sidebar-menu ul li  a:hover
{
    background-color: rgba(255,255,255,.1);
}

.sidebar-menu ul li ul {
    margin: 0;
}

.sidebar-menu .nav-item.current a.current {
    background-color: var(--menu-active-bg-color);
    color: var(--menu-active-color) !important;
}

.sidebar-menu .nav-item.current .nav-treeview .toctree-l2 a{
    background-color: var(--background-passiv-color);
}

.sidebar-menu .nav-item.current .nav-treeview .toctree-l2 a:hover {
     background-color: rgba(255,255,255,.1);
     color: var(--menu-active-color) !important;
}



.sidebar-menu ul li ul li a
{
    font-weight: 500;
    display:block;
    padding: 12px 5px 12px 25px;
}

.sidebar-menu,
.main-sidebar .user-panel,
.sidebar-menu > li.header {
    white-space: normal!important;
    overflow: visible!important;
}

.headerlink {
    opacity:0;
}

.headerlink:hover {
    opacity:1;
}

img {
    width: 100%;
}

@media (min-width: 992px) {
    img {
        max-width: 650px;
    }
}

.content-header h1 {
    margin-left: 10px;
}

.section h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    font-size: 24px;
}

.section h2 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
}

.highlight pre {
    background-color: #f7f7f9;
}

.highlight pre p {
    color: #333;
}

.highlight .mi {
    color: #208050;
}

.highlight .s2 {
    color: #D14;
}

.highlight .kc {
    color: #000081;
}

.highlight .nf,
.highlight .na {
    font-weight: bold;
}

.highlight .l,
.highlight .nn,
.highlight .kr,
.highlight .m {
    color: #195f91;
}

.sidebar h3, .sidebar p {
    padding-left:15px;
    font-size: 15px;
    font-weight: 600;
}

.sidebar h3 {
    margin-top:20px;
    color: #fff;
}

#search-documentation, #search-results h2{
    font-size: 22px;
}

#search-documentation {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom:7px;
    border-bottom: 1px solid #eee;
}

#searchbox h3 {
    font-weight: 600;
    display:block;
    padding-left:15px;
    color: #fff;
    font-size: 15px;
}

#search-results h2:first-child {
    display: none;
}

.search-input-docs {
    float:left;
    border:1px solid #d2d6de;
    height: 30px;
    width: 170px;
    padding-left: 10px;
    padding-right: 10px;
}

#big-search-input-docs {
    width: 300px;
}

.search-button-wrapper {
    position:relative;
    float:left;
    height: 30px;
    width:30px;
    border: 1px solid #d2d6de;
    border-left:none;
    background-color: #fff;
}

.search-button-icon {
    position:absolute;
    left: 7px;
    top:5px;
}

.search-button-input {
    height: 30px;
    width:30px;
    opacity:0;
    z-index:10;
}

form.search {
    padding-left:15px;
}

.logo-span-doc {
    width: 190px;
    margin-right: auto;
    margin-left: auto;
}

.fork-me img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    width:130px;
    height:130px;
    z-index:2000;
}

/* beginning of styles for badge(label) with versions on Read The Docs */
.rst-versions {
    z-index: 3000!important;
}

.rst-current-version > span:first-child {
    margin-top: 10px!important;
}


/* end of styles for badge(label) with versions on Read The Docs */


/* beginning of styles for Notification field about current version */
.body {
    padding-top: 1px;
}

.body > .warning {
    background-color: #FCC;
    border: 1px solid #FAA;
}

.body > .admonition {
    padding: 7px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 3px;
    margin-top: 19px;
}

.body > .admonition {

}

.body > .admonition p.admonition-title {
    font-weight: normal;
    font-size: 24px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
}

.body > .admonition p.last {
    margin-bottom: 0;
}

/* end of styles for Notification field about current version */

/* styles for collapsed sidebar */
.sidebar-collapse .sidebar-menu .toctree-l1.menu-open ul {
    display: none!important;
}

.sidebar-collapse .main-sidebar:hover .sidebar-menu .toctree-l1.menu-open ul {
    display: block!important;
}

.sidebar-collapse #searchbox,
.sidebar-collapse .main-sidebar .sidebar h3,
.sidebar-collapse .main-sidebar .sidebar p {
    display: none;
}

.sidebar-collapse .main-sidebar:hover #searchbox,
.sidebar-collapse .main-sidebar:hover   h3,
.sidebar-collapse .main-sidebar:hover  p {
    display: block;
}

.sidebar-collapse .main-sidebar .nav-icon {
    display: block;
}

.main-sidebar .nav-icon,
.sidebar-collapse .main-sidebar:hover .nav-icon {
    display: none;
}

.sidebar-collapse .main-sidebar:hover .nav-sidebar .nav-link p {
    display: inline-block;
}

/* end of styles for collapsed sidebar */


@media (max-width: 767px) {

    .fork-me img {
        width:112px;
        height:112px;
    }

    #big-search-input-docs {
        width: 150px;
    }
}

.sidebar-mini .nav-sidebar, .sidebar-mini .nav-sidebar .nav-link, .sidebar-mini .nav-sidebar > .nav-header {
    white-space: normal!important;
    overflow: hidden;
}

body {
    background-color: var(--content-wrapper);
}
