{% extends "base.html" %}
{% load request_static %}

{% block gui_init_scripts %}
    {% if user.is_authenticated %}
        <!-- app-gui-page -->
    {% endif %}

    <script type="text/javascript">
        window.csrf_data = {
            csrfHeaderName: "{{ csrf_header_name|default:'X-CSRFToken' }}",
            csrfCookieName: "{{ csrf_cookie_name|default:'csrftoken' }}",
            token: "{{ csrf_token }}"
        };

        var hostname = '{{host_url}}';
        var server_status_types = '{{server_status_types|safe}}';

        var project_gui_name = '{{ project_gui_name }}';
        var gui_version = '{{gui_version}}';
        var api_version = '{{ api_version }}';

        var gui_logout_url = hostname + '{{logout_url}}';

        {% if user.is_authenticated %}
            var my_user_id = '{{user.id}}'
        {% else %}
            var my_user_id = undefined
        {% endif %}

        {% if user.is_authenticated %}
            var is_authenticated = true
        {% else %}
            var is_authenticated = false
        {% endif %}

        var is_superuser = false
        var is_staff = false

        {% if user.is_superuser %}
            is_superuser = true
        {% endif %}

        {% if user.is_staff %}
            is_staff = true
        {% endif %}

        window.my_user_first_name = '{{user.first_name}}';
        window.my_user_last_name = '{{user.last_name}}';
        window.my_user_email = '{{user.email}}';

        window.guiStaticPath = "{% static '' %}";
        window.isDebug = {% if debug %}true{% else %}false{% endif %}
        window.timeZone = '{{timezone}}';
        window.enable_gravatar = {% if enable_gravatar %}true{% else %}false{% endif %}
        window.openapi_url = '{{ openapi_url }}';
    </script>
{% endblock %}

{% block style %}
    {% block gui_init_inline_styles %}
        <style>
            #LoadingProgressBar *::-webkit-scrollbar {
                width: 0px;
            }

            #LoadingProgressBar {
                background: #ecf0f5;
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0px;
                left: 0px;
                z-index: 2000;
            }

            #LoadingProgressBar .loadWrapper {
                width: 200px;
                height: 7px;
                position: absolute;
                top: 155px;
                left: 50%;
                transform: translate(-50%,-50%);
                background: #E0E0E0;
                border-radius: 7px;
            }

            #LoadingProgressBar .loadProgress {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 7px;
                background: #3F51B5;
                height: 100%;
                transition: all 100ms ease-out;
            }

            #LoadingProgressBar .titleP, .loadInfoWrapper a, .LoadingProgressBar-logger-wrapper,
            #LoadingProgressBar .operation,  #LoadingProgressBar .status {
                position: absolute;
                left: 50%;
                font-family: 'Ubuntu Mono', monospace;
            }

            #LoadingProgressBar .operation,  #LoadingProgressBar .status {
                transform: translate(-50%, -45%);
                color: #607D8B;
            }

            #LoadingProgressBar .operation {
                top: 110px;
            }

            #LoadingProgressBar .status {
                top: 135px;
            }

            #LoadingProgressBar .statusCont {
                font-family: 'Ubuntu Mono', monospace;
            }

            #LoadingProgressBar .titleP {
                top: 25px;
                transform: translate(-50%,25%);
                color: #3F51B5;
                text-transform: uppercase;
                font-size: 36px;
                margin-top: 20px;
                margin-bottom: 10px;
                font-weight: 500;
                line-height: 1.1;
                margin: .67em 0;
                box-sizing: border-box;
            }

            .loadInfoWrapper a{
                border-radius: 7px;
                padding: 5px 15px;
                background-color: #E0E0E0;
                top: 160px;
                transform: translate(-50%,25%);
                color: #3F51B5;
                text-transform: uppercase;
                text-decoration: none;
                box-sizing: border-box;
                font-weight: 400;
                font-size: 14px;
            }

            .loadInfoWrapper a:hover{
                background-color: #d0d0d0;
            }

            @media (max-width: 360px) {
                .loadInfoWrapper a {
                    padding: 7px 10px;
                }
            }

            .LoadingProgressBar-logger-wrapper {
                top: 230px;
                transform: translate(-50%, 0%);
                font-size: 12px;
                font-weight: 500;
                line-height: 1.1;
                box-sizing: border-box;
                padding: 0;
                margin: 0 auto;
                width: 90vw;
                height: calc(100vh - 256px);
                background-color: #dedede;
                overflow: scroll;
            }

            .LoadingProgressBar-logger-wrapper h3 {
                font-size: 18px;
            }

            .LoadingProgressBar-logger-wrapper h4 {
                font-size: 16px;
            }

            .LoadingProgressBar-logger-wrapper h5 {
                font-size: 14px;
            }

            .LoadingProgressBar-error {
                margin: 0;
                padding: 10px 0px;
                color: #b53f3f;
                white-space: pre-wrap;
                white-space: -moz-pre-wrap;
                white-space: -o-pre-wrap;
                word-wrap: break-word;
            }

            .LoadingProgressBar-success {
                margin: 0;
                padding: 0;
                color: green;
                white-space: pre-wrap;
                white-space: -moz-pre-wrap;
                white-space: -o-pre-wrap;
                word-wrap: break-word;
            }

            .LoadingProgressBar-error-msg {
                color: #b53f3f;
            }

            .loadInfoWrapper.need-reload span{
                animation-name: blinker;
                animation-iteration-count: infinite;
                animation-timing-function: cubic-bezier(1, -0.75, 0, 2.08);
                animation-duration: 1s;
                color: #f00;
                font-weight: bold;
            }

            @keyframes blinker {
                from { opacity: 1.0; }
                to { opacity: 0.3; }
            }
        
            #loading_logs_table th {
                text-align: left;
            }

            #loading_logs_table td {
                padding-left: 10px;
            }

        </style>
    {% endblock %}

    {% block bootstrap_theme %}
        {{ block.super }}
    {% endblock %}

    {% block flavicon %}{{ block.super }}{% endblock %}

    {% block custom_style %}
        {{ block.super }}
    {% endblock %}


{% endblock %}

{% block resource_list %}
    <script>
        window.resourceList = [
            {% for file in static_files_list %}
                {% if file.spa %}
                    { prioritet: {{ file.prioritet }}, type: '{{ file.type }}', name: '{% static file.name %}?v={{gui_version}}'},
                {% endif %}
            {% endfor %}
        ];
    </script>
{% endblock %}

{% block body %}
    <body class="hold-transition sidebar-mini {% block bodyclass %}{% endblock %}">
    {% block gui_init_inline_body %}
        <div id="LoadingProgressBar">
            <!-- Title -->
            <h1 class="titleP">
                {% block progressbar_title %}{{project_gui_name}}{% endblock %}
            </h1>

            <!-- Load operation -->
            <div class="operation">
                <div class="statusCont" id="LoadingProgressBarOperation">
                    loading files
                </div>
            </div>

            <!-- Load Status -->
            <div class="status">
                <div class="statusCont" id="LoadingProgressBarCount">

                </div>
            </div>

            <!-- Progress bar -->
            <div class="loadWrapper">
                <div class="loadProgress"  id="LoadingProgressBarLine"></div>
            </div>

            <div class="loadInfoWrapper">
                <a href="#" onclick="cleanCacheAndReloadPage(); return false;"><span>Reload all cache</span></a>
            </div>

            <div class="LoadingProgressBar-logger-wrapper" style="display: none;">
                <h3 style="text-align: center;">Loading logger</h3>
                <h4  class="LoadingProgressBar-error-msg" style="text-align: center; display:none;">Some errors occurred during app loading</h4>
                <h5>Project info</h5>
                <table id="loading_logs_table">
                    <tr>
                        <th>Project name</th>
                        <td>{{project_gui_name}}</td>
                    </tr>
                    <tr>
                        <th>Project Version</th>
                        <td>{{project_version}}</td>
                    </tr>
                    <tr>
                        <th>Gui Version</th>
                        <td>{{gui_version}}</td>
                    </tr>
                    <tr>
                        <th>Host URL</th>
                        <td>{{host_url}}</td>
                    </tr>
                    <tr>
                        <th>User ID</th>
                        <td>{{user.id}}</td>
                    </tr>
                    <tr>
                        <th> User is authenticated</th>
                        <td>{% if user.is_authenticated %}true{% else %}false{% endif %}</td>
                    </tr>
                    <tr>
                        <th>User is superuser</th>
                        <td>{% if user.is_superuser %}true{% else %}false{% endif %}</td>
                    </tr>
                    <tr>
                        <th>User is staff</th>
                        <td>{% if user.is_staff %}true{% else %}false{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Path to static files</th>
                        <td>{% static '' %}</td>
                    </tr>
                    <tr>
                        <th>Debug mode</th>
                        <td>{% if debug %}true{% else %}false{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Timezone</th>
                        <td>{{timezone}}</td>
                    </tr>
                </table>
                <br>
                <h5>Logs</h5>
            </div>
        </div>
    {% endblock %}

    <div id="RealBody" class="{% if user.is_superuser %} is_superuser {% endif %} {% if user.is_staff %} is_staff {% endif %}" style="display: none;">
        {% block gui_body_template %}
            <div class="hold-transition skin-black-light sidebar-mini ">
                <div class="wrapper" >
                    <!-- Navbar -->
                    <div id="top_nav_wrapper">
                        <top_nav :a_links="a_links"></top_nav>
                    </div>
                    <!-- /Navbar -->

                    <!-- Main Sidebar Container -->
                    <div id="sidebar_wrapper">
                        <aside class="main-sidebar sidebar-dark-primary elevation-4">
                            <!-- Logo -->
                            <logo :title="info.title"></logo>
                            <!-- Logo -->

                            <!-- Sidebar -->
                            <sidebar :menu="x_menu" :docs="x_docs" :a_links="a_links"></sidebar>
                            <!-- /.Sidebar -->
                        </aside>
                    </div>
                    <!-- /Main Sidebar Container -->

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!--<div>-->
                        <!-- Main content -->
                        {% block content %}
                            <router-view></router-view>
                        {% endblock %}
                        <!-- /Main content -->
                    </div>
                    <!-- /Content Wrapper. Contains page content -->

                    <!-- Control Sidebar -->
                    <div id="gui_customizer_wrapper">
                        <aside class="control-sidebar control-sidebar-dark guiCustomizer">
                            <gui_customizer></gui_customizer>
                        </aside>
                    </div>

                    <!-- /Control Sidebar -->

                    <!-- Main Footer -->
                    <div id="main_footer_wrapper">
                        <main_footer>
                            <template v-slot:footer_buttons>
                                {% block footer_buttons %}{% endblock %}
                            </template>
                        </main_footer>
                    </div>
                    <!-- /Main Footer -->
                </div>
            </div>
        {% endblock %}
    </div>

    <!-- inline_app_loader -->
    {% block inline_app_loader %}
        {% include "gui/inline_app_loader.html" %}
    {% endblock %}
    <!-- /inline_app_loader -->

    <!-- script -->
    {% block script %}{{ block.super }}{% endblock %}
    <!-- /script -->
    </body>
{% endblock %}