<script type="text/javascript">
function isCordova(){
    if(window.cordova)
    {
        return true;
    }
    else if(window.parent && window.parent.cordova)
    {
        return true;
    }

    return false;
}

window._guiFilesCache = function(opt)
{
    var indexedDB 	  = window.indexedDB || window.mozIndexedDB || window.webkitIndexedDB || window.msIndexedDB

    var hostId = "{{host_url}}".replace(/[^0-9A-z]/img, "_")

    var baseName 	  = "filesCache_"+hostId
    var storeName 	  = "filesCacheStore"
    var bdVersion 	  = 1
    this.myDB             = undefined
    this.noCache          = opt.noCache

    var thisObj = this;
    
    this.closeDB = function()
    {
        if(thisObj.myDB)
        {
            thisObj.myDB.close();
            return;
        } 
    }
    
    function connectDB()
    {
        return new Promise(function(resolve, reject)
        {
            if(thisObj.myDB)
            {
                resolve(thisObj.myDB);
                return;
            }

            var request = indexedDB.open(baseName, bdVersion);
            request.onerror = function(err)
            {
                console.error("connectDB", err);
                reject(err)
            }

            request.onsuccess = function(event)
            {
                thisObj.myDB = event.target.result
                resolve(event.target.result);
            }

            request.onupgradeneeded = function(e)
            {
                e.currentTarget.result.createObjectStore(storeName, { keyPath: "path", autoIncrement: true });
                connectDB().then(resolve, reject)
            }
        })
    }

    this.getFile = function(file_url)
    {
        var thisObj = this
        return new Promise(function(resolve, reject)
        {
            if(thisObj.noCache)
            {
                reject()
            }

            connectDB().then(function(db)
            {
                var request = db.transaction([storeName], "readonly").objectStore(storeName).get(file_url);

                request.onerror = function(err)
                {
                    console.error("getFile", err);
                    reject(err)
                }

                request.onsuccess = function()
                {
                    if(!request.result)
                    {
                        reject()
                        return;
                    }

                    resolve(request.result ? request.result : -1)
                }
            }, reject);
        });
    }

    this.setFile = function(file_url, file_data)
    {
        var thisObj = this

        connectDB().then(function(db)
        {
            var transaction = db.transaction([storeName],"readwrite");
            transaction.oncomplete = function(event) {
                //console.log("setFile Success", event);
            };

            transaction.onerror = function(event) {
                console.error("setFile Error", event);
            };

            var objectStore = transaction.objectStore(storeName);

            objectStore.put({path: file_url, data: file_data});
        });
    }

    this.deleteAllCache = function()
    { 
        this.closeDB();
        var DBDeleteRequest = window.indexedDB.deleteDatabase(baseName);
        DBDeleteRequest.onerror = function(event) {
            console.log("Error deleting database.", event);
            setTimeout(function(){
                if(isCordova())
                {
                    inAppClose()
                }
                
                window.location.reload()
            }, 500)
        };

        DBDeleteRequest.onsuccess = DBDeleteRequest.onerror 
        DBDeleteRequest.onblocked = DBDeleteRequest.onerror 
        DBDeleteRequest.onupgradeneeded = DBDeleteRequest.onerror

        return DBDeleteRequest
    }

    this.delFile = function(file_url)
    {
        var thisObj = this

        connectDB().then(function(db)
        {
            var transaction = db.transaction([storeName],"readwrite");
            transaction.oncomplete = function(event) {
                //console.log("setFile Success", event);
            };

            transaction.onerror = function(event) {
                console.error("setFile Error", event);
            };

            var objectStore = transaction.objectStore(storeName);

            objectStore.delete(file_url);
        });
    }
}

window.guiFilesCache = new window._guiFilesCache({ noCache:notUseCache() == "true" })

var jsLoadingProgress = 0;
var jsLoadingProgressStep = 0;
var jsLoadingProgressSumSteps = 0;

var jsToLoad = {}

function appendError(exception)
{
    console.error(exception)
    //alert(exception)
    //$("#LoadingProgressBar-errorLog").append(""+exception.message+"\n"+exception.stack+"\n\n\n");
}

/**
 * loadTipe('js') 
 * loadTipe('eval') 
 * loadTipe('js-inline') 
 * 
 * @param {type} string 
 * @returns {windowlocalStorage.loadTipe}
 */
function loadTipe(type)
{
    if(type !== undefined)
    {
        window.localStorage['loadTipe'] = type
    }

    return window.localStorage['loadTipe']
}

/**
 * notUseCache('true') 
 * notUseCache('false')
 * 
 * @param {type} string 
 * @returns {windowlocalStorage.useCache}
 */
function notUseCache(type)
{
    if(type !== undefined)
    {
        window.localStorage['useCache'] = type
    }

    return window.localStorage['useCache']
}


function addToPage(jsToLoad)
{
    indexs = []
    for(var i in jsToLoad)
    {
        if(!indexs[jsToLoad[i].index])
        {
            indexs[jsToLoad[i].index] = []
        }

        indexs[jsToLoad[i].index].push(jsToLoad[i])
    }

    function compareNumeric(a, b)
    {
        if (!a[0].prioritet && a[0].prioritet !== 0) a[0].prioritet = 999;
        if (!b[0].prioritet && b[0].prioritet !== 0) b[0].prioritet = 999;

        if (a[0].prioritet > b[0].prioritet) return 1;
        if (a[0].prioritet < b[0].prioritet) return -1;
        return 0


        if (a[0].index > b[0].index) return 1;
        if (a[0].index < b[0].index) return -1;
    }

    indexs = indexs.sort(compareNumeric);
    var last_val = undefined
    for(var i in indexs)
    {
        for(var j in indexs[i])
        {
            var val = indexs[i][j]
            

            if(val.appended)
            {
                last_val = val;
                continue;
            }
            
            if(val.status!= 200)
            {
                return;
            }
            
            if(val.appending === true && !val.appended)
            {
                setTimeout(function(){
                    addToPage(jsToLoad)
                }, 200)
                return;
            }
            
            if(last_val && !last_val.appended)
            {
                setTimeout(function(){
                    addToPage(jsToLoad)
                }, 200)
                return;
            }
            
            
            if(val.status == 200)
            {
                if(val.appending === true && val.appended !== true)
                {
                    setTimeout(function(){
                        addToPage(jsToLoad)
                    }, 200)
                    return;
                }
                
                val.appending = true;
                try{
                    //console.log("append", val);

                    if(val.type =='tpl')
                    {
                        // Надеюсь что к моменту загрузки шаблона js с jquery уже загружены
                        try{
                            $("body").append(val.response)
                            val.appended = true;
                        }catch (exception) {
                            appendError(exception)
                        }
                    }
                    else if(val.type =='js')
                    {
                        try{
                            if(loadTipe() == 'js')
                            {
                                var link = document.createElement("script");
                                link.setAttribute("type", "text/javascript");
                                link.setAttribute("src", val.url);
                                link.onload = function(){  
                                    val.appended = true;
                                    addToPage(jsToLoad)
                                }

                                //link.innerHTML = val.response
                                document.getElementsByTagName("head")[0].appendChild(link);
                                return;
                            }
                            /*else if(loadTipe() == 'eval')
                            {
                                eval(val.response)
                                val.appended = true; 
                            }*/
                            else // if(loadTipe() == 'inline-js')
                            {
                                var link = document.createElement("script");
                                link.setAttribute("type", "text/javascript");
                                link.setAttribute("data-url", val.url);
                                link.innerHTML = val.response
                                 
                                document.getElementsByTagName("head")[0].appendChild(link);
                                val.appended = true;
                            }

                        }catch (exception) {
                            console.error(exception)
                            console.error(val)
                            appendError(exception)
                        }
                    }
                    else if(val.type =='css' /*&& isCordova()*/)
                    {
                        var link = document.createElement("style");
                        link.setAttribute("rel", "stylesheet");
                        link.setAttribute("type", "text/css");
                        link.setAttribute("media", "text/css");
                        link.setAttribute("data-url", val.url);
                        link.rel  = 'stylesheet';
                        link.type = 'text/css';
                        link.media = 'all';

                        //if(isCordova())
                        //{
                            link.innerHTML = val.response.replace(/\.\.\/fonts/gmi, hostname + window.guiStaticPath + "fonts")
                        //}
                        //else
                        //{
                        //    link.innerHTML = val.response
                        //}

                        //debugger;
                        document.getElementsByTagName("body")[0].appendChild(link);
                        val.appended = true;
                    }
                    else if(val.type =='event')
                    {
                        try{
                            tabSignal.emit(val.name)
                            val.appended = true;
                        }catch (exception) {
                            appendError(exception)
                        }
                    }
                }
                catch (exception)
                {
                    console.error("exception", val.url, exception.stack, exception.stack)
                    console.error(exception.stack)
                    debugger;
                }
            }
        }
    }
}

function loadData(index)
{
    if(jsToLoad[index].type == 'event')
    {
        jsToLoad[index].status = 200
        addToPage(jsToLoad)
        return;
    }

    /*if(jsToLoad[index].type == 'css' && !isCordova())
    {
        var link = document.createElement("link");
        link.setAttribute("rel", "stylesheet");
        link.setAttribute("type", "text/css");
        link.setAttribute("href", jsToLoad[index].url);
        document.getElementsByTagName("head")[0].appendChild(link);
        jsToLoad[index].status = 200
        return;
    } */

    if(!window.loadData_jsLoadingProgressSumSteps)
    {
        window.loadData_jsLoadingProgressSumSteps = 0;
        window.loadData_jsLoadingProgressStep = 0;
    }

    window.loadData_jsLoadingProgressSumSteps++;
 
    guiFilesCache.getFile(jsToLoad[index].url).then(
        function(file)
        {
            console.log("use from cache")

            // Десериализуем полученную JSON строку в объект JavaScript
            jsToLoad[index].response = file.data;
            window.loadData_jsLoadingProgressStep++
            setLoadingProgress((window.loadData_jsLoadingProgressStep/window.loadData_jsLoadingProgressSumSteps)*100)
            jsToLoad[index].status = 200
            addToPage(jsToLoad)
        },
        function(err)
        {
            //console.log("load from server") 

            var request = new XMLHttpRequest();

            request.onreadystatechange = function ()
            {
                if (request.readyState === 4 && request.status === 200)
                {
                    jsToLoad[index].response = request.responseText;
                    window.loadData_jsLoadingProgressStep++
                    setLoadingProgress((window.loadData_jsLoadingProgressStep/window.loadData_jsLoadingProgressSumSteps)*100)
                    jsToLoad[index].status = request.status
                    addToPage(jsToLoad)
                    guiFilesCache.setFile(jsToLoad[index].url, request.responseText)
                }
            }

            request.open("GET", jsToLoad[index].url);

            request.send();  
        }
    )
}

function setLoadingProgress(width)
{
    var elem = document.getElementById("LoadingProgressBarLine");
    if(!elem)
    {
        return;
    }

    elem.style.width = Math.ceil(width) + '%';

    var elem = document.getElementById("LoadingProgressBarCount");
    if(!elem)
    {
        return;
    }

    elem.style.width = Math.ceil(width) + '%';
    elem.innerHTML = Math.ceil(width) * 1  + '%';
}

/**
 * Hide progress bar page and close connection to indexeddb
 * @returns {undefined}
 */
function hideLoadingProgress()
{
    //$("#LoadingProgressBar").remove();
    $("#RealBody").show();
    $("#LoadingProgressBar").fadeOut('fast')
    
    setTimeout(function(){ 
        window.guiFilesCache.closeDB();
    }, 20000)
}

var cRrrCalls = 0;
function onReady()
{
    //debugger;
    console.log("onReady")
    setLoadingProgress(0)

    var index = 0;
    window.resourceList.push({prioritet:10000,  type:'event', name: "loading.completed"})
    for(var i in window.resourceList)
    {
        index++;
        window.resourceList[i].url = hostname + window.resourceList[i].name
        window.resourceList[i].status = 0
        window.resourceList[i].index = index

        jsToLoad[window.resourceList[i].url] = window.resourceList[i]
    }

    for(var i in window.jsToLoad)
    {
        loadData(i)
    }
}

onReady()
</script>