{% block sidebar_menu %}
    <li class="header">MAIN NAVIGATION</li>
    <li id="menu-home"><a href="/" onclick="return spajs.openURL(this.href);" ><i class="fa fa-dashboard"></i> <span class="li-header-span"><i class="li-header-span-i">Home</i></span></a></li>
    {% if has_docs %}
        <li id="menu-docs">
            <a href={% block doc_link %}"{{host_url}}/docs/index"{% endblock %}
               onclick="if(window.parent && window.parent.cordova && window.parent.cordova.InAppBrowser) window.parent.cordova.InAppBrowser.open(this.href, '_blank', 'location=yes'); return false;" >
               <i class="fa fa-book"></i> <span class="li-header-span"><i class="li-header-span-i">Documentation</i></span>
            </a>
        </li>
    {% endif %}
{% endblock %}
