{% block sidebar_menu %}

    <li id="menu-home" class="nav-item" data-url="">
        <a href="/#" class="nav-link" onclick="hideSidebar(); return vstGO(this.href);" >
            <i class="nav-icon fa fa-dashboard ico-menu"></i> <p><span class="li-header-span"><i class="li-header-span-i menu-text-data">Home</i></span></p>
        </a>
    </li>
    {% for item in project_menu %}
        {% if item.name %}
            {% if item.sublinks %}
                <li class="menu-treeview {% if not item.url %}menu-treeview-withouturl{% endif %} nav-item has-treeview " data-url="{{item.url}}" id="menu-{{item.name|lower}}">
                    {% if item.url %}
                        <a href="/#{{item.url}}" class="nav-link"  onclick="hideSidebar(); if(vstGO(this.href)) event.stopPropagation(); return false;"  >
                            <i class="nav-icon {{item.span_class}} ico-menu"></i>
                            <p>
                                <span class="li-header-span">
                                    <i class="li-header-span-i menu-text-data">{{item.name|title}}</i>
                                </span>
                                <i class="right fa fa-angle-left ico-menu" onclick="toggleMenuOpen(this, event); return false;"></i>
                            </p>
                        </a>
                    {% else %}
                        <a class="nav-link"  >
                            <i class="nav-icon {{item.span_class}} ico-menu"></i>
                            <p>
                                <span class="li-header-span"><i class="li-header-span-i-none menu-text-data">{{item.name|title}}</i></span>
                                <i class="right fa fa-angle-left ico-menu" onclick="toggleMenuOpen(this, event); return false;"></i>
                            </p>
                        </a>
                    {% endif %}

                    <ul class="menu-treeview-menu nav nav-treeview"  >
                        {% for subitem in item.sublinks %}
                            {% if subitem.name %}
                                <li id="menu-{{item.name|lower}}-{{subitem.name|lower}}"  data-url="{{subitem.url}}" class="nav-item">
                                    <a href="/#{% firstof subitem.url subitem.name|lower %}" class="nav-link" onclick="hideSidebar(); if(vstGO(this.href)) event.stopPropagation(); return false;" >
                                        <i class="nav-icon {{subitem.span_class}} ico-menu"></i> <p><span class="menu-text-data">{{subitem.name|title}}</span></p>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li id="{{item.name}}" class="nav-item" data-url="{{item.url}}">
                    <a href="/#{% firstof item.url item.name|lower %}"  class="nav-link" onclick="hideSidebar(); if(vstGO(this.href)) event.stopPropagation(); return false;" >
                        <i class="nav-icon {{item.span_class}} ico-menu"></i>
                        <p>
                            <span class="li-header-span">
                                <i class="li-header-span-i menu-text-data">{{item.name|title}}</i>
                            </span>
                        </p>
                    </a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if has_docs %}
        <li id="menu-docs" class="nav-item" data-url="{{item.url}}">
            <a href={% block doc_link %}"{{host_url}}/docs"{% endblock %} class="nav-link" >
               <i class="nav-icon fa fa-book ico-menu"></i> <p><span class="li-header-span"><i class="li-header-span-i menu-text-data">Documentation</i></span></p>
            </a>
        </li>
    {% endif %}
{% endblock %}
