{% extends "rest_framework/rest_base.html" %}
{% load request_static %}
{% load cache %}

{% block resource_list %}
    <script src="{% static_path 'js/libs/tabSignal.js' %}?v={{gui_version}}"></script>

    <script>
        window.resourceList = [
            {% cache block_timeout static_files_list_api_block gui_version %}
            {% for file in static_files_list %}
                {% if file.api %}
                    { priority: {{ file.priority }}, type: '{{ file.type }}', name: '{% static file.name %}?v={{gui_version}}'},
                {% endif %}
            {% endfor %}
            {% endcache %}
        ]
    </script>
{% endblock %}