
<script type="text/x-just" data-just="guiElements.base">   
 
    <%[ element %>
        <div class="form-group

            <%[ wrapper_classes %>
                col-lg-4 col-xs-12 col-sm-6 col-md-6
            <%] %>
            <%* wrapper_classes %>

            gui-element-<%- guiElement.name %>
            gui-field-<%- opt.name %>
            
            <% if(opt.required){ %>gui-required<% }else{ %>gui-not-required<% } %> "

            data-title="<%- opt.title %>"
            id="gui<%- guiElement.element_id %>"
        >
           
            <%[ title %>
                <label class="control-label"><%- opt.title || capitalizeString(opt.name) %></label>
            <%] %>
            <%* title %>
            
            <%[ main_input %>
                <div>guiElements.base</div>
            <%] %> 
            <%* main_input %>
            
            <%[ description %>
                <div class="help-block"><%- opt.description || '' %></div>
            <%] %>
            <%* description %>
        </div>
    <%] %> 
    <%* element %>
</script>

<!-- guiElements.dynamic -->
<script type="text/x-just" data-just="guiElements.dynamic">
    <!-- guiElements.dynamic -->
    <div id="gui<%- guiElement.element_id %>" >
    <%= guiElement.realElement.render(opt) %>
    </div>
</script>

<!-- guiElements.string -->
<script type="text/x-just" data-just="guiElements.string">    
    <!-- guiElements.string [type=<%- opt.type %>, format=<%- opt.format %>] -->
    <%[ main_input %>
        <input type="text" class="form-control" <%- set_api_options(opt) %> id="<%- guiElement.element_id %>" value="<% if(value && typeof value == 'object'){ if($.isArray(value)){ %><%- value.join() %><% }else{ %><%- JSON.stringify(value) %><% }}else{ %><%- value || '' %><% } %>">
    <%] %> 
    <%! guiElements.base %>
</script>

<!-- guiElements.password -->
<script type="text/x-just" data-just="guiElements.password">
    <!-- guiElements.password -->
    <%[ main_input %>
        <input type="password" class="form-control" <%- set_api_options(opt) %> id="<%- guiElement.element_id %>" value="<%- value || '' %>">
    <%] %>
    <%! guiElements.base %>
</script>

<!-- guiElements.button -->
<script type="text/x-just" data-just="guiElements.button">  
    <!-- guiElements.button -->
    <button 
        id="<%- guiElement.element_id %>"
        type="button" 
        class="
                gui-element-<%- guiElement.name %> 
                <% if(typeof opt.class == 'function'){ %>
                    <%- opt.class.apply(guiElement, [opt]) %>
                <% }else{ %>
                    <%- opt.class %>
                <% } %>
                <%- addCssClassesToElement('btn', opt.title) %>"

        title="<%- opt.title || '' %>"
        >
            <% if(typeof opt.text == 'function'){ %>
                <%= opt.text.apply(guiElement, [opt]) %>
            <% }else{ %>
                <%= opt.text %>
            <% } %>
    </button> 
</script>

<!-- guiElements.link_button -->
<script type="text/x-just" data-just="guiElements.link_button">   
    <!-- guiElements.link_button -->
    <a 
        class="<% if(typeof opt.class == 'function'){ %>
                        <%- opt.class.apply(guiElement, [opt]) %>
               <% }else{ %>
                    <%- opt.class %>
               <% } %>
               gui-element-<%- guiElement.name %>
               <%- addCssClassesToElement('btn', opt.title) %>"
        href="<% if(typeof opt.link == 'function'){ %><%- opt.link.apply(guiElement, [opt]) %><% }else{ %><%- opt.link %><% } %>"
        title="<%- opt.title || '' %>"
        onclick="<% if(typeof opt.onclick == 'function'){ %><%= opt.onclick.apply(guiElement, [opt]) %><% }else{ %>return spajs.openURL(this.href);<% } %>" >
            <% if(typeof opt.text == 'function'){ %>
                <%= opt.text.apply(guiElement, [opt]) %>
            <% }else{ %>
                <%= opt.text %>
            <% } %>
    </a> 
</script>

<!-- guiElements.enum -->
<script type="text/x-just" data-just="guiElements.enum">  
    <!-- guiElements.enum -->
    <%[ main_input %>
        <select id="<%- guiElement.element_id %>"  class="form-control" >
            <% for(var i in opt.enum){ %>
                <option value='<%- opt.enum[i] %>' <% if(value == opt.enum[i]) { %>selected<% } %> ><%- opt.enum[i] %></option>
            <% } %>
        </select> 
    <%] %> 
    <%! guiElements.base %> 
</script>

<!-- guiElements.select2 -->
<script type="text/x-just" data-just="guiElements.select2">  
    <!-- guiElements.select2 -->
    <%[ main_input %>
        <select id="<%- guiElement.element_id %>"  class="form-control select2" ></select> 
    <%] %> 
    <%! guiElements.base %> 
</script>

<!-- guiElements.apiOwner -->
<script type="text/x-just" data-just="guiElements.apiOwner">  
    <!-- guiElements.apiOwner -->  
    <%[ main_input %>
        <% if (!opt.readOnly) { %>
            <select id="<%- guiElement.element_id %>"  class="form-control select2" ></select>
        <% }else{ %>
            <input 
                    type="text" 
                    class="form-control" 
                    <%- set_api_options(opt) %>
                    id="<%- guiElement.element_id %>"
                    value="<% if(value && typeof value == 'object'){ %><%- value.username %><% }else{ %><%- JSON.stringify(value) %><% } %>"
            >
        <% } %>
    <%] %> 
    <%! guiElements.base %> 
</script>

<!-- guiElements.boolean -->
<script type="text/x-just" data-just="guiElements.boolean"> 
    <!-- guiElements.boolean -->
    <%[ main_input %>
        <div class="form-control <% if (value) { %> selected <% } %> boolean-select"
                <% if (!opt.readOnly) { %> onclick="$(this).toggleClass('selected');" <% } %>
                onselectstart="return false"
                onmousedown="return false"
                style="cursor: pointer;"
                id="<%- guiElement.element_id %>" >
            <div class="ico-on fa fa-toggle-on" <% if (opt.readOnly) { %> style="cursor: not-allowed!important;" <% } %> ></div>
            <div class="ico-off fa  fa-toggle-off" <% if (opt.readOnly) { %> style="cursor: not-allowed!important;" <% } %> ></div>
            <div class="boolean-title" >Boolean value</div>
        </div>
    <%] %> 
    <%! guiElements.base %> 
</script>


<!-- guiElements.autocomplete -->
<script type="text/x-just" data-just="guiElements.autocomplete"> 
    <!-- guiElements.autocomplete -->
    <%[ main_input %> 
        <div class="input-group">
            <input 
            type="text"  
            value="<%- value || '' %>" 
            class="form-control" 
            <%- set_api_options(opt) %> 
            id="<%- guiElement.element_id %>">
            
            <span class="input-group-addon" onclick="$('#<%- guiElement.element_id %>').val('');" style="cursor: pointer;" >
                <span class='glyphicon glyphicon-remove' ></span>
            </span>
        </div> 
    <%] %> 
    <%! guiElements.base %> 
</script>

<!-- guiElements.file -->
<script type="text/x-just" data-just="guiElements.file">
    <!-- guiElements.file -->
    <%[ main_input %>
        <span id="deleteFileId_<%- guiElement.element_id %>" onclick="$('#fileContent_<%- guiElement.element_id %>').val('');" class='btn btn-default btn-right textfile'  style='float: right; margin-left: 10px; margin-bottom:10px;'>
            <span class='glyphicon glyphicon-remove'>
            </span>
        </span>

        <span id="<%- guiElement.element_id %>" class='btn btn-default btn-right textfile' style='float: right; margin-left: 10px;  margin-bottom:10px;'>
            <input type='file' class='input-file' onchange="readFileAndInsert(event, '#fileContent_<%- guiElement.element_id %>');">
            <span class='glyphicon glyphicon-file'>
            </span>
        </span>
        <textarea placeholder='Enter value' <%- set_api_options(opt) %>  id="fileContent_<%- guiElement.element_id %>" class='form-control' style="resize:vertical;"><%= value || '' %></textarea>
    <%] %> 
    <%! guiElements.base %>  
</script>

<!-- guiElements.secretfile -->
<script type="text/x-just" data-just="guiElements.secretfile">
    <!-- guiElements.secretfile -->

    <%! guiElements.file %>
</script>

<!-- guiElements.textarea -->
<script type="text/x-just" data-just="guiElements.textarea">
    <!-- guiElements.textarea -->
    <%[ main_input %>
        <textarea rows="3" cols="50" <%- set_api_options(opt) %>  id="<%- guiElement.element_id %>" class='form-control' style="resize:vertical;"><%= value || '' %></textarea>
    <%] %>
    <%! guiElements.base %>   
</script>

<!-- guiElements.html -->
<script type="text/x-just" data-just="guiElements.html">
    <!-- guiElements.html -->
    <%[ wrapper_classes %>
       col-lg-12 col-xs-12 col-sm-12 col-md-12
    <%] %>

    <%[ main_input %>
         <div class="html_content"> <%= value || opt.default || '' %> </div>
    <%] %>
    <%! guiElements.base %>
</script>

<!-- guiElements.crontab -->
<script type="text/x-just" data-just="guiElements.crontab">
    <!-- guiElements.crontab -->
     <%[ wrapper_classes %>
       col-lg-12 col-xs-12 col-sm-12 col-md-12
    <%] %>

    <%[ main_input %>
        <div class="row" >
            <div class="col-lg-12">
                <div class="input-group">
                    <input type="text"
                            class="form-control"
                            value="<%- value || '' %>"
                            id="<%- guiElement.element_id %>"
                            >
                    <span class="input-group-addon" onclick="$('#guiElement-gui').toggle();" >
                        <span class="glyphicon glyphicon-pencil"></span>
                    </span>
                </div>
            </div>
        </div>

        <div class="row crontabEditor" id="guiElement-gui" style="margin-top: 15px; display:none;" >

            <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6 col-xs-12 col-md-6 col-sm-6">

                <div class="btn-group" role="group" style="width: 100%;">
                    <button type="button" style="width: 100%;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Minutes
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="#"  <%= justOn('click', ()=>{ guiElement.setMinutes('*'); return false; }) %>  >All</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setMinutes('*/2'); return false; }) %> >*/2</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setMinutes('*/3'); return false; }) %> >*/3</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setMinutes('*/5'); return false; }) %> >*/5</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setMinutes('*/10'); return false; }) %> >*/10</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setMinutes('*/15'); return false; }) %> >*/15</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setMinutes('*/20'); return false; }) %> >*/20</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setMinutes('0'); return false; }) %> >At the beginning</a>
                        </li>
                    </ul>
                </div>

                <div class="control-label " style="margin-top:15px;">
                    <% for(let i = 0; i< 60; i+=1){ %>
                        <button class="btn btn-default <%- guiElement.model.Minutes.justClass(i, 'selected') %>"
                                style="width: calc(20% - 4px);"
                                <%= justOn('click', ()=>{ guiElement.model.Minutes[i] = !guiElement.model.Minutes[i]; guiElement.setValue(); }) %>
                                ><%- i %></button>
                    <% } %>
                </div>
            </div>

            <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6 col-xs-12 col-md-6 col-sm-6">

                <div class="btn-group" role="group" style="width: 100%;">
                    <button type="button" style="width: 100%;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Hours
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setHours('*'); return false; }) %> >All</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setHours('*/2'); return false; }) %> >*/2</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setHours('*/3'); return false; }) %> >*/3</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setHours('*/4'); return false; }) %> >*/4</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setHours('*/5'); return false; }) %> >*/5</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setHours('*/6'); return false; }) %> >*/6</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setHours('*/8'); return false; }) %> >*/8</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setHours('0'); return false; }) %> >At the beginning</a>
                        </li>
                    </ul>
                </div>

                <div class="control-label " style="margin-top:15px;">
                    <% for(let i = 0; i<= 23; i++){ %>
                        <button class="btn btn-default <%- guiElement.model.Hours.justClass(i, 'selected') %>"
                                style="width: calc(20% - 4px);"
                                <%= justOn('click', ()=>{ guiElement.model.Hours[i] = !guiElement.model.Hours[i]; guiElement.setValue(); }) %>
                                ><%- i %></button>
                    <% } %>
                </div>
            </div>

            <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6 col-xs-12 col-md-6 col-sm-6">

                <div class="btn-group" role="group" style="width: 100%;">
                    <button type="button" style="width: 100%;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Day of Month
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setDayOfMonth('*'); return false; }) %> >All</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setDayOfMonth('*/2'); return false; }) %> >*/2</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setDayOfMonth('*/3'); return false; }) %> >*/3</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setDayOfMonth('*/4'); return false; }) %> >*/4</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setDayOfMonth('*/5'); return false; }) %> >*/5</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setDayOfMonth('*/7'); return false; }) %> >*/7</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setDayOfMonth('1'); return false; }) %> >At the beginning</a>
                        </li>
                    </ul>
                </div>

                <div class="control-label " style="margin-top:15px;">
                    <% for(let i = 1; i<= 31; i++){ %>
                        <button class="btn btn-default <%- guiElement.model.DayOfMonth.justClass(i, 'selected') %>"
                                <%= justOn('click', ()=>{ guiElement.model.DayOfMonth[i] = !guiElement.model.DayOfMonth[i]; guiElement.setValue(); }) %>
                                style="width: calc(20% - 4px);"
                                ><%- i %></button>
                    <% } %>
                </div>
            </div>

            <div class="form-group col-lg-3 col-xs-12 col-md-6 col-sm-6">

                <div class="btn-group" role="group" style="width: 100%;">
                    <button type="button" style="width: 100%;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Months
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setMonths('*'); return false; }) %> >All</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setMonths('*/2'); return false; }) %> >*/2</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setMonths('*/3'); return false; }) %> >*/3</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setMonths('*/4'); return false; }) %> >*/4</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setMonths('*/6'); return false; }) %> >*/6</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setMonths('1'); return false; }) %> >At the beginning</a>
                        </li>
                    </ul>
                </div>
                <div class="control-label " style="margin-top:15px;">
                    <% for(let i = 1; i<= 12; i++){ %>
                        <button
                                class="btn btn-default col-xs-6 col-lg-6 <%- guiElement.model.Months.justClass(i, 'selected') %>"
                                <%= justOn('click', ()=>{ guiElement.model.Months[i] = !guiElement.model.Months[i]; guiElement.setValue(); }) %>
                                > <%- guiElement.model.MonthsNames[i-1] %></button>
                    <% } %>
                </div>
            </div>

            <div class="form-group col-lg-3 col-xs-12 col-md-6 col-sm-6">

                <div class="btn-group" role="group" style="width: 100%;">
                    <button type="button" style="width: 100%;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Days of Week
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setDaysOfWeek('*'); return false; }) %> >All</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setDaysOfWeek('*/2'); return false; }) %> >*/2</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setDaysOfWeek('*/3'); return false; }) %> >*/3</a>
                        </li>
                        <li>
                            <a href="#" <%= justOn('click', ()=>{ guiElement.setDaysOfWeek('1'); return false; }) %> >At the beginning</a>
                        </li>
                    </ul>
                </div>

                <div class="control-label " style="margin-top:15px;">
                    <% for(let i = 0; i<= 6; i++){ %>
                        <button class="btn btn-default col-xs-6 col-lg-6 <%- guiElement.model.DaysOfWeek.justClass(i, 'selected') %>"
                                <%= justOn('click', ()=>{ guiElement.model.DaysOfWeek[i] = !guiElement.model.DaysOfWeek[i]; guiElement.setValue(); }) %>
                                ><%- guiElement.model.DaysOfWeekNames[i] %></button>
                    <% } %>
                </div>
            </div>
        </div>
    <%] %>

    <%! guiElements.base %>
</script>
