
<!--
    <%[ blockBody %>
        <p>This is block contentRT</p>
    <%] %>

    <%[ testB %> // Переопределение блока
        <p>This is block testBAS</p>
    <%] %>

    <%* blockName %> // Вывод блока

    <%! base_items_list %> // Наследование, писать последней строкой в шаблоне
    <! - - Список сущностей - - >
    <script type="text/x-just" data-just="base_items_list">
        < ! - - base_items_list - - >
    </script>
-->

<!-- Поле для выбора какие ещё поля показать в форме  -->
<script type="text/x-just" data-just="show_not_required_fields">
    <!-- show_not_required_fields -->
    <div class="form-group col-lg-4 col-xs-12 col-sm-6 col-md-6">
        <label class="control-label">Add field</label>
        <select class="form-control" onchange="$('#'+this.value).removeClass('hide'); this.options[this.selectedIndex].disabled = true;" >
            <option disabled selected >Select field</option>
            <% for(var i = 0; i < fields.length; i++){  %>
                <option value="<%- $(fields[i]).attr('id') %>" ><%- $(fields[i]).attr('data-title') %></option>
            <% } %>
        </select>
        <div class="help-block"><%- opt.description || '' %></div>
    </div>
</script>
 
<!-- Постраничная навигация -->
<script  type="text/x-just" style="display: none;" data-just="pagination">
    <!-- pagination -->
    <% if(totalPage > 1){ %>
        <ul class="pagination no-margin pull-right">
            <% if(totalPage < 21){ %>
                <% for(var i = 0; i < totalPage; i++){ %>
                    <% if(i == currentPage){ %>
                        <li><a href="<%- vstMakeLocalUrl([url.replace(/\/page\/[0-9]+/igm, '') + '/page/'+(i+1)]) %>" onclick="return vstGO(this.href);" style="background-color: #d2d6de;"><%- i+1 %></a></li>
                    <% }else{ %>
                        <li><a href="<%- vstMakeLocalUrl([url.replace(/\/page\/[0-9]+/igm, '') + '/page/'+(i+1)]) %>" onclick="return vstGO(this.href);" ><%- i+1 %></a></li>
                    <% } %>
                <% } %>
            <% }else{ %>
                <% for(var i = 0; i < totalPage; i++){ %>
                    <% if(i == currentPage){ %>
                        <li><a href="<%- vstMakeLocalUrl([url.replace(/\/page\/[0-9]+/igm, '') + '/page/'+(i+1)])  %>" onclick="return vstGO(this.href);" style="background-color: #d2d6de;"><%- i+1 %></a></li>
                    <% }else{ %>
                        <% if(Math.abs(i - currentPage) > 5 && i > 3 && totalPage - i > 3){ %>
                            <% if( dotShow == false){ %>
                                <% dotShow = true %>
                                <li><a href="<%- vstMakeLocalUrl([url.replace(/\/page\/[0-9]+/igm, '') + '/page/'+(i+1)])  %>" onclick="return vstGO(this.href);">..</a></li>
                            <% } %>
                        <% }else{ %>
                            <% dotShow = false %>
                            <li><a href="<%- vstMakeLocalUrl([url.replace(/\/page\/[0-9]+/igm, '') + '/page/'+(i+1)])  %>" onclick="return vstGO(this.href);" ><%- i+1 %></a></li>
                        <% } %>
                    <% } %>
                <% } %>
            <% } %>
        </ul>
    <% } %>
</script>

<!--  Поле поиска -->
<script  type="text/x-just" style="display: none;" data-just="search_field">
    <div class="input-group col-lg-2" style="float: right;">
    <input
        type="text"
        id="search-query-input"
        placeholder="Search by name"
        class="form-control"
        maxlength="255"
        value="<% if(guiObj.model.filters.query){ %><%- guiObj.model.filters.query.name %><% } %>"
        onkeyup="if(event.keyCode == 13) spajs.showLoader(goToSearch(<%- guiObj.api.bulk_name %>, $('#search-query-input').val()));"
    >

    <div class="input-group-addon" onclick="spajs.showLoader(goToSearch(<%- guiObj.api.bulk_name %>, $('#search-query-input').val()));">
    <span class="glyphicon glyphicon-search" ></span>
    </div>
    </div>
</script>


<script type="text/x-just" data-just="page_breadcrumb">
    <section class="content-header">
        <h1>
            page_breadcrumb
        </h1>
        <ol class="breadcrumb">
            <li><a href="<%- vstMakeLocalUrl() %>" onclick="return vstGO(this.href);" ><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">page_breadcrumb</li>
        </ol>
    </section>
</script>

<!-- Страница экшена -->
<script type="text/x-just" data-just="action_page">
      
    <%[ buttons_row %>
        <%= new guiElements.button({onclick:function(){guiObj.exec()}, class:'btn btn-primary', title:'Exec', text:'Exec'}).render() %>
        <%* buttons %>
    <%] %>

    <%[ main_content_row %>
        <section class="col-lg-12">
            <div class="box box-info">
                <div class="box-header with-border"> 
                    &nbsp;
                </div>
                <div class="box-body">
                    <div class="row"> 
                        <%= guiObj.renderAllFields(opt) %>  
                    </div>
                </div>
            </div>
        </section>  
    <%] %>

    <%! entity_base %>
</script>

 
<script type="text/x-just" data-just="action_as_link">
    <!-- action_as_link --> 
    <a href="<%- vstMakeLocalUrl(opt.link) %>"
        onclick="return vstGO(this.href);"
        class="<%- opt.class %>"
    >
        <%- opt.title %>
    </a>
</script>
 
<script type="text/x-just" data-just="action_as_button">
    <!-- action_as_button --> 
    <a href="<%- vstMakeLocalUrl(opt.link) %>"
        onclick="return vstGO(this.href);"
        class="<%- opt.class %>"
    >
        <%- opt.title %>
    </a>
</script>
 
<script type="text/x-just" data-just="items_empty_list">
    <!-- items_empty_list --> 
    <div style="text-align: center;" >No child elements, list is empty</div>
</script>

<script type="text/x-just" data-just="entity_base">
        
    <%[ breadcrumb %>
        <%= renderBreadcrumbs() %>
    <%] %>
    
    <%[ buttons %>
        <% if(guiObj.api.buttons){ %>
            <% for(var i in  guiObj.api.buttons){ %>
                <%= guiObj.api.buttons[i].render() %>
            <% } %>
        <% } %>
    <%] %>

    <%[ page_header %>
        <section class="content-header">
            <h1>

                <a href="<%- getUpLink() %>" onclick="return vstGO(this.href);" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>

                <span class="h1-header"><%= guiObj.getTitle('title') %></span>
            </h1>
            <%* breadcrumb %>
        </section>
    <%] %>
    <%* page_header %>
     
    <%[ main_content %>
        <section class="content">
            <div class="row">
                <div class="col-lg-12">
                    <%[ buttons_row %>
                        <%* buttons %>
                    <%] %>
                    <%* buttons_row %>
                </div>
            </div>
            <br>
            <div class="row">
                <%[ main_content_row %>
                     
                <%] %>
                <%* main_content_row %> 
            </div>
        </section>
    <%] %>
    <%* main_content %> 
</script>  
    
<!-- Список сущностей -->
<script type="text/x-just" data-just="entity_list">
    
    <%[ buttons_row %>

        <% if(guiObj.api.canCreate){ %>
            <a href="<%- vstMakeLocalUrl([getUrlBasePath(), 'new']) %>" class="btn btn-primary" onclick="return vstGO(this.href);" title="Create new <%- 'Add '+guiObj.api.name %>" >Create</a>
        <% } %>

        <% if(guiObj.api.canAdd){%>
            <a href="<%- vstMakeLocalUrl([getUrlBasePath(), 'add']) %>" class="btn btn-primary" onclick="return vstGO(this.href);" title="Add <%- 'Add '+guiObj.api.name %>" >Add</a>
        <% } %>
 
        <%* buttons %>
        <%* sublink_buttons %>
    <%] %>
     
    <!-- entity_list -->
    <%[ main_content_row %>
        <section class="col-lg-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <%[ search_form %>
                        <%= spajs.just.render('search_field', {guiObj: guiObj}) %>
                    <%] %>
                    <%* search_form %>

                    <%[ pagination %>
                        <% if(guiObj.getTotalPages()){ %>
                            <div style="float: right; margin-right: 20px;" class="hidden-xs">
                                <%= guiObj.paginationHtml() %>
                            </div>
                        <% } %>
                    <%] %>
                    <%* pagination %>

                </div>
                <div class="box-body">
                    <%  if (!guiObj.model.data.results.length){ %>
                        <%[ empty_list %>
                                <%= this.partial('items_empty_list', { }) %>
                        <%] %>
                        <%* empty_list %>
                    <% } else{ %>
                        <%[ data_list %>
                            <table class="table table-bordered multiple-select">
                                <tbody>
                                    <tr>
                                        <th style="width: 45px" onclick=" $(this).parent().toggleClass('selected'); window.guiListSelections.toggleSelectElements('<%- opt.selectionTag %>', $('.multiple-select tr'), $(this).parent().hasClass('selected')); return false;" class="global-select" >
                                            <div class="ico-on fa fa-toggle-on"></div>
                                            <div class="ico-off fa  fa-toggle-off"></div>
                                        </th>
                                        <% for(var j in opt.fields){ %>
                                            <% if(!opt.fields[j].hidden) { %>
                                                <th
                                                    <%= addStylesAndClassesToListField(guiObj, opt.fields[j], undefined, opt) %>
                                                    >
                                                        <%- opt.fields[j].title %>
                                                </th>
                                            <% } %>
                                        <% } %>
                                        <% if(!isEmptyObject(guiObj.api.sublinks_l2)){ %>
                                            <th style="width: 95px;" class="<%- addCssClassesToElement('column', 'actions', guiObj.api.short_name) %>">Actions</th>
                                        <% } %>
                                    </tr>
                                    <% for(var i in guiObj.model.data.results){ %>
                                        <tr
                                            class="item-row item-<%- guiObj.model.data.results[i].id %> highlight-tr  <%- window.guiListSelections.selectionControll(opt.selectionTag, guiObj.model.data.results[i].id) %>"
                                            data-id="<%- guiObj.model.data.results[i].id %>"
                                            data-href="<%- vstMakeLocalUrl([spajs.urlInfo.data.reg.page, guiObj.model.data.results[i].id]) %>"
                                            onclick="turnTableTrIntoLink(event)"
                                            >
                                            <td class="highlight-tr-none"  onclick="window.guiListSelections.toggleSelection('<%- opt.selectionTag %>', <%- guiObj.model.data.results[i].id %>); return false;">
                                                <div class="ico-on fa fa-toggle-on"></div>
                                                <div class="ico-off fa  fa-toggle-off"></div>
                                            </td>
                                            <% for(var j in opt.fields){ %>
                                                <% if(!opt.fields[j].hidden) { %>
                                                    <td
                                                        <%= addStylesAndClassesToListField(guiObj, opt.fields[j], guiObj.model.data.results[i], opt) %>
                                                    >
                                                        <% if(!opt.fields[j].value){ %>
                                                                <!-- if there is prefetch info, insert it -->
                                                                <% if(opt.fields[j].prefetch && guiObj.model.data.results[i][opt.fields[j].name + '_info']) { %>
                                                                    <a href="<%- vstMakeLocalUrl([opt.fields[j].prefetch.path(guiObj.model.data.results[i]).replace(/^\/|\/$/g, '') , guiObj.model.data.results[i][opt.fields[j].name]]) %>" class="item-name"
                                                                       onclick="return false;" >
                                                                       <%- sliceLongString(guiObj.model.data.results[i][opt.fields[j].name + '_info'].name) ||
                                                                           sliceLongString(guiObj.model.data.results[i][opt.fields[j].name + '_info'].username) %>
                                                                    </a>
                                                                <% } else { %>
                                                                   <%- sliceLongString(guiObj.model.data.results[i][opt.fields[j].name]) %>
                                                                <% } %>

                                                        <% }else{ %>
                                                            <%= opt.fields[j].value.apply(guiObj, [guiObj.model.data.results[i], opt.fields[j].name, opt]) %>
                                                        <% } %>
                                                    </td>
                                                <% } %>
                                            <% } %>
                                            <% if(!isEmptyObject(guiObj.api.sublinks_l2)){ %>
                                                <td class="<%- addCssClassesToElement('column', 'actions', guiObj.api.short_name) %>">
                                                    <div class="btn-group" role="group">
                                                        <button type="button" class="btn btn-primary dropdown-toggle highlight-tr-none" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            Actions
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <% for(var k in guiObj.api.sublinks_l2){ %>
                                                                <li>
                                                                    <a
                                                                        href="<%- vstMakeLocalUrl([opt.base_path , guiObj.model.data.results[i].id , guiObj.api.sublinks_l2[k].name]) %>"
                                                                        onclick="return false;"
                                                                        class="sublink-btn <%- addCssClassesToElement('action-button', guiObj.api.sublinks_l2[k].name, guiObj.api.short_name ) %>">
                                                                            <%- guiObj.api.sublinks_l2[k].name.replace('_', ' ') %>
                                                                    </a>
                                                                </li>
                                                            <% } %>
                                                        </ul>
                                                    </div>
                                                </td>
                                            <% } %>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        <%] %>
                        <%* data_list %>
                    <% } %>
                </div>
                <div class="box-footer clearfix">
                    <%[ action_buttons %>
                        <div class="btn-group <%- window.guiListSelections.selectedCount.justNotClass(opt.selectionTag, 'hide') %>" role="group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions on <%= window.guiListSelections.selectedCount.justText(opt.selectionTag) %> items
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <% for(var k in guiObj.api.multi_actions){   %>
                                    <% if(guiObj.api.multi_actions[k].onClick){ %>
                                        <li>
                                            <a
                                                href="#"
                                                class="<%- addCssClassesToElement('multiaction-button', k, guiObj.api.short_name) %>"
                                                 <%= justOn('click', function(){ guiObj.api.multi_actions[k].onClick.apply(guiObj, [])} ) %>
                                            >
                                                    <%- k %> <% if(guiObj.api.multi_actions[k].description) { %> <%- guiObj.api.multi_actions[k].description %> <% } %>
                                            </a>
                                        </li>
                                    <% }else{ %>
                                         <li>
                                            <a
                                                href="#"
                                                onclick="questionForAllSelectedOrNot('<%- opt.selectionTag %>', '<%- guiObj.api.multi_actions[k].path %>'); return false;"
                                                class="<%- addCssClassesToElement('multiaction-button', k, guiObj.api.short_name) %>">
                                                    <%- k %> <% if(guiObj.api.multi_actions[k].description) { %> <%- guiObj.api.multi_actions[k].description %> <% } %>
                                            </a>
                                        </li>
                                    <% } %>
                                    <li role="separator" class="divider"></li>
                                <% } %>
                            </ul>
                        </div>
                    <%] %>
                    <%* action_buttons %>

                    <% if(!query){ %>
                        <%[ select_buttons %>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" <%= justOn('click', function(){ spajs.showLoader(guiObj.toggleSelectEachItem(opt.selectionTag, true)); return false; }) %> >Select all</a>
                                    </li>
                                    <li class="<%- window.guiListSelections.selectedCount.justNotClass(opt.selectionTag, 'hide') %>" >
                                        <a href="#" <%= justOn('click', function(){ spajs.showLoader(guiObj.toggleSelectEachItem(opt.selectionTag, false)); return false; }) %>" >Unselect all</a>
                                    </li>
                                </ul>
                            </div>
                        <%] %>
                        <%* select_buttons %>
                    <% } %>
                    <%[ pagination %>
                        <% if(guiObj.getTotalPages()){ %>
                            <%= guiObj.paginationHtml(guiObj.model.data) %>
                        <% } %>
                    <%] %>
                    <%* pagination %>
                </div>
            </div>
        </section> 
    <%] %> 
    <%! entity_base %>
</script>

<script type="text/x-just" data-just="entity_list_add_subitems">
    <!-- entity_list_add_subitems -->
    
    <%[ buttons_row %>
        <a href="#" class="btn btn-primary"
            onclick="addToParentsAndGoUp(window.guiListSelections.getSelection('<%- opt.selectionTag %>')); return false;" >Add selected</a>
    <%] %>
     
    <%[ main_content_row %>
        <section class="col-lg-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <%[ search_form %>
                        <%= spajs.just.render('search_field', {guiObj: guiObj}) %>
                    <%] %>
                    <%* search_form %>

                    <%[ pagination %>
                        <% if(guiObj.getTotalPages()){ %>
                            <div style="float: right; margin-right: 20px;" class="hidden-xs">
                                <%= guiObj.paginationHtml() %>
                            </div>
                        <% } %>
                    <%] %>
                    <%* pagination %>

                </div>
                <div class="box-body">
                    <%  if (!guiObj.model.data.results.length){ %>
                        <%[ empty_list %>
                                <%= this.partial('items_empty_list', { }) %>
                        <%] %>
                        <%* empty_list %>
                    <% } else{ %>
                        <%[ data_list %>
                            <table class="table table-bordered multiple-select">
                                <tbody>
                                    <tr>
                                        <th style="width: 45px" onclick=" $(this).parent().toggleClass('selected'); window.guiListSelections.toggleSelectElements('<%- opt.selectionTag %>', $('.multiple-select tr'), $(this).parent().hasClass('selected')); return false;" class="global-select" >
                                            <div class="ico-on fa fa-toggle-on"></div>
                                            <div class="ico-off fa  fa-toggle-off"></div>
                                        </th>
                                        <% for(var j in opt.fields){ %>
                                            <th
                                                <% if(opt.fields[j].style){ %><%= opt.fields[j].style.apply(guiObj,[undefined, opt]) %><% } %>
                                                <% if(opt.fields[j].class){ %><%= opt.fields[j].class.apply(guiObj,[undefined, opt]) %><% } %>  >
                                                    <%- opt.fields[j].title %>
                                            </th>
                                        <% } %>
                                    </tr>
                                    <% for(var i in guiObj.model.data.results){ %>
                                        <tr
                                            class="item-row item-<%- guiObj.model.data.results[i].id %>  <%- window.guiListSelections.selectionControll(opt.selectionTag, guiObj.model.data.results[i].id) %>"
                                            data-id="<%- guiObj.model.data.results[i].id %>" >
                                            <td class=""  onclick="window.guiListSelections.toggleSelection('<%- opt.selectionTag %>', <%- guiObj.model.data.results[i].id %>); return false;">
                                                <div class="ico-on fa fa-toggle-on"></div>
                                                <div class="ico-off fa  fa-toggle-off"></div>
                                            </td>
                                            <% for(var j in opt.fields){ %>
                                                <td
                                                    <% if(opt.fields[j].style){ %><%= opt.fields[j].style.apply(guiObj, [guiObj.model.data.results[i], opt]) %><% } %>
                                                    <% if(opt.fields[j].class){ %><%= opt.fields[j].class.apply(guiObj, [guiObj.model.data.results[i], opt]) %><% } %>
                                                >
                                                    <% if(!opt.fields[j].value){ %>
                                                        <a href="<%- vstMakeLocalUrl([opt.base_path , guiObj.model.data.results[i].id]) %>" class="item-name"
                                                            onclick="return vstGO(this.href);" ><%- guiObj.model.data.results[i][opt.fields[j].name] %></a>
                                                    <% }else{ %>
                                                        <%= opt.fields[j].value.apply(guiObj, [guiObj.model.data.results[i], opt.fields[j].name, opt]) %>
                                                    <% } %>
                                                </td>
                                            <% } %>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        <%] %>
                        <%* data_list %>
                    <% } %>
                </div>
                <div class="box-footer clearfix">
                    <%[ action_buttons %>
                        <div class="btn-group <%- window.guiListSelections.selectedCount.justNotClass(opt.selectionTag, 'hide') %>" role="group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions on <%= window.guiListSelections.selectedCount.justText(opt.selectionTag) %> items
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                    <li>
                                        <a href="#"
                                            onclick="addToParentsAndGoUp(window.guiListSelections.getSelection('<%- opt.selectionTag %>')); return false;" >Add selected</a>
                                    </li>
                            </ul>
                        </div>
                    <%] %>
                    <%* action_buttons %>

                    <% if(!query){ %>
                        <%[ select_buttons %>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" <%= justOn('click', function(){ spajs.showLoader(guiObj.toggleSelectEachItem(opt.selectionTag, true)); return false; }) %> >Select all</a>
                                    </li>
                                    <li class="<%- window.guiListSelections.selectedCount.justNotClass(opt.selectionTag, 'hide') %>" >
                                        <a href="#" <%= justOn('click', function(){ spajs.showLoader(guiObj.toggleSelectEachItem(opt.selectionTag, false)); return false; }) %>" >Unselect all</a>
                                    </li>
                                </ul>
                            </div>
                        <%] %>
                        <%* select_buttons %>
                    <% } %>
                    <%[ pagination %>
                        <% if(guiObj.getTotalPages()){ %>
                            <%= guiObj.paginationHtml(guiObj.model.data) %>
                        <% } %>
                    <%] %>
                    <%* pagination %>
                </div>
            </div>
        </section> 
    <%] %> 
    <%! entity_base %>
</script>

<script type="text/x-just" data-just="entity_one">
    <!-- entity_one -->
    
    <%[ sublink_buttons %>
        <% for(var k in guiObj.api.links){  %>
            <a
                href="<%-vstMakeLocalUrl([opt.base_path, guiObj.api.links[k].name]) %>"
                onclick="return vstGO(this.href);"
                class="btn btn-default sublink-btn"
            >
                <%- guiObj.api.links[k].name.replace('_', ' ') %>
            </a>
        <% } %>

        <% for(var k in guiObj.api.actions){  %>
                <% if  (!guiObj.api.actions[k].isEmptyAction) { %>
                    <a
                        href="<%- vstMakeLocalUrl([opt.base_path, guiObj.api.actions[k].name]) %>"
                        onclick="return vstGO(this.href);"
                        class="btn btn-warning sublink-btn"
                    >
                    <%- guiObj.api.sublinks[k].name.replace('_', ' ') %>
                    </a>
                <% } else { %>
                    <%= new guiElements.button({onclick:emptyAction(guiObj.api.actions[k]), class:'btn btn-primary', title:k, text:k}).render() %>
                <% } %> 
        <% } %>
    <%] %>
    
    <%[ buttons_row %>
        
        <% if(guiObj.api.canEdit){ %>
            <%= new guiElements.button({onclick:function(){guiObj.update()}, class:'btn btn-primary', title:'Save', text:'Save'}).render() %>
        <% } %>
        
        <% if(guiObj.api.canDelete){ %>
            <%= new guiElements.button({onclick:function(){ deleteAndGoUp(guiObj) }, class:'btn btn-danger danger-right', title:'Delete', text:'<span class="glyphicon glyphicon-remove"></span> <span class="hidden-sm hidden-xs">Remove</span>'}).render() %>
        <% } %>
        
        <%* buttons %>
        <%* sublink_buttons %>
    <%] %>
     
    <%[ main_content_row %> 
        <section class="col-lg-12">
            <div class="box box-info">
                <div class="box-header with-border"> 
                    &nbsp;
                </div>
                <div class="box-body">
                    <div class="row">

                        <% for(var i in opt.fields){ %>
                            <%= guiObj.renderField(opt.fields[i], opt) %>
                        <% } %>

                        <% if(opt.sections){ %>
                            <% for(var i in opt.sections){ %>
                                <%= opt.sections[i].apply(guiObj, [opt.sections[i], opt]) %>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        </section> 
    <%] %>
    <!-- /items_new_page -->

    <%! entity_base %>
</script>

<script type="text/x-just" data-just="entity_new">
    <!-- entity_new -->
 
    <%[ buttons_row %>
        
        <%= new guiElements.button({onclick:function(){createAndGoEdit(guiObj)}, class:'btn btn-primary', title:'Create', text:'Create'}).render() %>
            
        <%* buttons %>
    <%] %>
    
    <%! entity_one %>

</script>


<!-- Отрисует страницу ошибки загрузки данных -->
<script type="text/x-just" data-just="error_as_page">
    <!-- error_as_page -->
    <section class="content">
        <div class="row">
            <section class="col-lg-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        Error renderErrorAsPage<br>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <%- error.status %><br>
                                <%- error.data.detail %>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</script>
 