
<script type="text/x-just" data-just="guiListElements.base"> 
    <%[ element %>
        <div class="guiListElements guiListElements-<%- guiObj.type %>" > 
            <%[ content %>
                <%- value %>
            <%] %>
            <%* content %> 
        </div>
    <%] %>
    <%* element %>
</script>
   
<!-- guiListElements.boolean -->
<script type="text/x-just" data-just="guiListElements.boolean"> 
    <%[ content %>
        <% if(value){ %> 
            <i class="boolean-true fa fa-check"></i>
        <% }else{ %>
            <i class="boolean-false fa fa-times"></i> 
        <% } %> 
    <%] %>
    <%! guiListElements.base %>
</script>

<!-- guiListElements.array -->
<script type="text/x-just" data-just="guiListElements.array">
    <%[ content %>
        <ul class="table_ul">
             <% for(let i in value) { %>
                <li> <%- value[i] %> </li>
            <% } %>
        </ul>
    <%] %>
    <%! guiListElements.base %>
</script>

<!-- template for gravatar img in lists and in user page title -->
<script type="text/x-just" data-just="gravatar_in_list">
    <img src="<%- link %>" class="img-circle elevation-1 gravatar-img-list" onerror="setDefaultGravatar(this); return false;">
    <span class="align-middle"> <%- username %> </span>
</script>