{% extends "base.html" %}
{% load request_static %}
{% load i18n %}

{% block custom_style %}    
    <link rel="stylesheet" type="text/css" href="{% static_path 'auth/main.css' %} "/>
{% endblock %}

{% block common_sciprt %}

    <script src="{% static_path 'bundle/api~auth~doc~spa.chunk.js' %}"></script>
    <script src="{% static_path 'bundle/api~auth~spa.chunk.js' %}"></script>
    <script src="{% static_path 'bundle/auth.js' %}"></script>

    <script>
    window.hostname = "{{host_url}}"

    function appAjaxLogin()
    {
        var fields = document.querySelectorAll(".app-form-signin input")

        var fd = new FormData();
        data = {}
        for(var i = 0; i < fields.length; i++)
        {
            fd.append(fields[i].getAttribute('name'), fields[i].value);
            data[fields[i].getAttribute('name')] = fields[i].value
        }

        var request = new XMLHttpRequest();

        request.onreadystatechange = function()
        {
            if (request.readyState === 4 && request.status === 200)
            {
                if(request.responseText.indexOf("<!-- app-gui-page -->") != -1)
                {
                    if(window.parent && window.parent.guiAppLogin && window.parent.guiAppLogin.onLogin )
                    {
                        window.parent.guiAppLogin.onLogin(request.responseText)
                    }
                    else
                    {
                        window.location.reload()
                    }
                }
                else
                { 
                    if(window.parent && window.parent.guiAppLogin && window.parent.guiAppLogin.onLoginError )
                    {
                        window.parent.guiAppLogin.onLoginError(request.responseText)
                    }
                    else
                    {
                        window.location.reload()
                    }
                }
            }
        }

        request.onerror =  function (data)
        {
            console.error(data)
        };


        request.open("POST", window.hostname+"/login/");
        request.setRequestHeader("{{ csrf_header_name|default:'X-CSRFToken' }}", "{{ csrf_token }}")

        request.send(fd);
    }
    </script>
{% endblock %}

{% block login_body %}
     <div class="login-box-body rounded">
        <p class="login-box-msg">Sign in to start your session {% block session_message_suffix %}{% endblock %}</p>

        <form method="post" action="{% url 'login' %}" class="app-form-signin form-signin" onsubmit="appAjaxLogin(); return false;">
            {% csrf_token %}
            {% block auth_key %}
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Username" name='{{ form.username.name }}' id="{{ form.username.name }}" maxlength="254"  required autofocus>
            </div>
            {% endblock %}
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" name='{{ form.password.name }}' id="{{ form.password.name }}">
            </div>

            {% block button %}
                <div class="row">
                    {% if metadata.HTTP_X_CORDOVA_APP %}
                        <div class="col-xs-8">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>

                        <div class="col-xs-4 for-cordova">
                            <button type="button" onclick="window.parent.inAppClose(); return false;" class="btn btn-default btn-block">Cancel</button>
                        </div>
                    {% else %}
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block" style="margin-bottom: 5px" id="login_button">Sign In</button>
                            {% block additional_link %}
                                <a style="margin-bottom: 10px" href="/password_reset">Forgot password?</a>
                            {% endblock %}
                        </div>
                    {% endif %}
                </div>
            {% endblock %}
            <input type="hidden" name="next" value="{{ next }}" />
            {% if form.errors %}
                {% if form.non_field_errors %}
                    <ul class='form-errors'>
                        {% for error in form.non_field_errors %}
                            <li style='color: red'>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
        </form>
        {% block alter_auth %}
        {% endblock %}
    </div>
{% endblock %}
