{% extends "registration/base.html" %}

{% block bodyclass %}register-page{% endblock %}
{% block style %}
    {{ block.super }}
    <style>
        .registration-label {
            color: #000000;
            margin-right: 10px;
            padding-right: 10px;
            float: left
        }
    </style>
{% endblock %}
{% block login_body_content %}
    <script>
        function openTermsModal() {
            $('#modal-terms').modal('show');
            const termsIframe = document.getElementById('terms-iframe');

            termsIframe.setAttribute('src', '{% url 'terms' %}');
            termsIframe.addEventListener('load', () => {
                let doc = termsIframe.contentDocument;
                doc.body.innerHTML = doc.body.innerHTML +
                    `<style>
                        #lang-form, .login-logo {display: none;}
                        body {background-color: #fff !important; justify-content: start !important;}
                    </style>`;
            });
        }
        function openPersonalDataModal() {
            $('#modal-personal-data').modal('show');
            const personalDataIframe = document.getElementById('personal-data-iframe');

            personalDataIframe.setAttribute('src', '{% url 'consent_to_processing' %}');
            personalDataIframe.addEventListener('load', () => {
                let doc = personalDataIframe.contentDocument;
                doc.body.innerHTML = doc.body.innerHTML +
                    `<style>
                        #lang-form, .login-logo {display: none;}
                        body {background-color: #fff !important; justify-content: start !important;}
                    </style>`;
            });
        }
    </script>

{% if uid %}
    <script>
            const uid = '{{uid | safe}}';
            const form = document.createElement("form");
            const uidInput = document.createElement("input");
            const csrfInput = document.createElement("input")
            form.method = "POST";
            form.action = document.location.href;
            uidInput.value = uid;
            uidInput.name = "uid";
            csrfInput.value = document.cookie.match(/csrftoken=(.+?)(;|$)/)[1];
            csrfInput.name = "csrfmiddlewaretoken";
            csrfInput.type = "hidden";
            form.appendChild(uidInput);
            form.appendChild(csrfInput);
            document.body.appendChild(form);
            form.submit();
</script>
{% endif %}
    <div class="login-box password-reset">
        {% if form.errors.uid %}
            {% translate_errors form.uid.errors %}
        {% endif %}
    <p>{% translate_text "fields with * is required" capfirst %}</p>
    <form method="post">
        {% csrf_token %}
        <fieldset class="module aligned">
            <div style="float: left">
                {% block base_registration_fields %}
                    {% block auth_key_field %}
                        <div style="margin-bottom: 10px; clear:both; text-align:right; line-height:25px;">
                            {{ form.username.errors }}
                            <label for="id_username" class="registration-label">*{% translate_text "username" capfirst %}:</label>
                            {{ form.username }}
                        </div>
                    {% endblock %}
                    {% block auth_email %}
                        <div style="margin-bottom: 10px; clear:both; text-align:right; line-height:25px;">
                            {{ form.email.errors }}
                            <label for="id_email" class="registration-label">*{% translate_text "email" capfirst %}:</label>
                            {{ form.email }}

                        </div>
                    {% endblock %}
                    {% block registration_password_fields %}
                        <div style="margin-bottom: 10px; clear:both; text-align:right; line-height:25px;">
                            {{ form.password1.errors }}
                            <label for="id_password1" class="registration-label">*{% translate_text "password" capfirst %}:</label>
                            {{ form.password1 }}

                        </div>
                        <div style="margin-bottom: 10px; clear:both; text-align:right; line-height:25px;">
                            {{ form.password2.errors }}
                            <label for="id_password2" class="registration-label">*{% translate_text "confirm password" title %}:</label>
                            {{ form.password2 }}
                        </div>
                        {% if form.agreement %}
                            <div style="margin-bottom: 10px; clear:both; text-align:right; line-height:25px;">
                                {{ form.agreement.errors }}
                                <label for="id_agreement" class="registration-label">
                                    *{% translate_text "i accept the " capfirst %}
                                    <a href="#" onclick="openTermsModal()">
                                        {% translate_text "terms of agreement" %}
                                    </a>
                                </label>
                                {{ form.agreement }}
                            </div>
                        {% endif %}
                        {% if form.consent_to_processing %}
                            <div style="margin-bottom: 10px; clear:both; text-align:right; line-height:25px;">
                                {{ form.consent_to_processing.errors }}
                                <label for="id_consent_to_processing" class="registration-label">
                                    *{% translate_text "i agree with " capfirst %}
                                    <a href="#" onclick="openPersonalDataModal()">
                                        {% translate_text "the personal data processing policy" %}
                                    </a>
                                </label>
                                {{ form.consent_to_processing }}
                            </div>
                        {% endif %}
                    {% endblock %}
                {% endblock %}
                {% block additional_registration_fields %}
                {% endblock %}
            </div>
            <div style="text-align: center; clear: both">
                <input type="submit" value="{% translate_text "register" capfirst %}" class="btn btn-primary">
            </div>
        </fieldset>
    </form>
        <div class="modal fade" id="modal-terms" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
              </div>
              <div class="modal-body" style="height: 80vh; padding: 0">
                  <div class="embed-responsive" style="height: 100%">
                      <iframe id="terms-iframe"></iframe>
                  </div>
              </div>
          </div>
        </div>
      </div>
        <div class="modal fade" id="modal-personal-data" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
              </div>
              <div class="modal-body" style="height: 80vh; padding: 0">
                  <div class="embed-responsive" style="height: 100%">
                      <iframe id="personal-data-iframe"></iframe>
                  </div>
              </div>
          </div>
        </div>
        </div>
{% endblock %}

{% block after_content %}
    {% block registration_confirmation_script %}
    {% endblock %}
{% endblock %}